/*弹层样式*/
@import "layer/cities_layer.css";

/*弹层样式*/
@import "module/ZB_cities_layer.css";

body,button,input,select,textarea{font:12px/1.125 Arial,Helvetica,sans-serif;_font-family:"SimSun";}body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0; padding:0;}table{border-collapse:collapse;border-spacing:0;}li{list-style:none;}fieldset,img{border:none;}q:before,q:after{content:'';}input,textarea{outline-style:none;}input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none;}textarea{resize:none}address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:normal;}legend{color:#000;}abbr,acronym {border:0;font-variant:normal;}a{text-decoration:none;}a:hover{text-decoration:underline;}
*html{background-image:url(about:blank);background-attachment:fixed;}body{background:#fff;font-family:"STHeiti","Microsoft YaHei",微软雅黑,"monotype corsive";color:#666;font-size:13px;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}.clearfix {display: inline-block;}* html .clearfix {height: 1%;}.clearfix {display: block;}.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden;}
/*全局*/
.fl{float:left;}
.fr{float:right;}

.underline_blue{color:#5183c0;}
.pink_link{color:#06C;}

a{color:#000;}
a:hover{color:#e800ff;text-decoration:none;}
.linkb{color:#c60c30;}
.linkc{color:#666;}
.textb{color:#666;}
.text_spe{color: #e04023}
.v_line{margin:0 5px;}
.moredown{display: inline-block;border-color: #000 transparent transparent transparent;border-style:solid dashed dashed dashed;border-width:4px 4px 0 4px;font-size: 0;line-height: 0;width: 0;height: 0;vertical-align: middle;margin: 0 0 0 3px;}
.moreup{display: inline-block;border-color: transparent transparent #000 transparent;border-style:dashed dashed solid dashed;border-width:0 4px 4px 4px;font-size: 0;line-height: 0;width: 0;height: 0;vertical-align: middle;margin: 0 0 0 3px;}
a:hover .moredown{border-color:#e800ff transparent transparent transparent;}
a:hover .moreup{border-color:transparent transparent #e800ff transparent;}
.linkb .moredown{border-color:#c60c30 transparent transparent transparent;}
.linkb .moreup{border-color:transparent transparent #c60c30 transparent;}
.tar{text-align: right}
::selection{background:#000;color: #fff}
/*头部*/
.ZB_header{padding:45px 0 8px;height:27px;overflow:hidden;}
.ZB_header .logo{margin:0 3px 0 4px;width:139px;height:33px;background:url("../images/common/logo.png?id=20131021140000") no-repeat;}
.ZB_header .other_auth{margin:5px;}
.ZB_header .login_wrap a{margin-right:5px;}
.ZB_header .login_wrap img{vertical-align:middle;margin:0 5px;}
.ZB_header .cur_city{height: 33px;line-height: 33px;color: #333;margin:4px 5px 0 0;display: inline-block;}
.ZB_header .cur_city em {margin-left: 2px;display: inline-block;vertical-align: middle;font-size: 18px;color: #333;}
.ZB_header .select_city{color:#666;font-size:12px;}
.ZB_header .change_city {display: inline-block;vertical-align: -5px;color: #666;}
.icon_sns{display:inline-block;width:32px;height:36px;vertical-align:middle;background-image:url("../images/common/icon_sns.png");_background-image:url("../images/common/icon_sns.gif");cursor:pointer;}
.weibo_login{background-position:-10px -188px;}
.QQ_login{background-position:-62px -190px;}
.douban_login{background-position:-114px -190px;}
.renren_login{width:48px;background-position:-182px -190px;}
.facebook_login{background-position:-242px -190px;}
.twitter_login{background-position:-302px -190px;}
.icon_list{position:relative;}
/*当前态*/
.cur .weibo_login{background-position:-10px -230px;}
.cur .QQ_login{background-position:-62px -232px;}
.cur .douban_login{background-position:-114px -232px;}
.cur .renren_login{width:48px;background-position:-182px -232px;}
.cur .facebook_login{background-position:-242px -232px;}
.cur .twitter_login{background-position:-302px -232px;}
/*只有顶导有hover态*/
.ZB_header .weibo_login:hover{background-position: -10px -230px;}
.ZB_header .QQ_login:hover{background-position:-62px -232px}
.ZB_header .douban_login:hover{background-position:-114px -232px;}
.ZB_header .renren_login:hover{background-position:-182px -232px;}

.ZB_wrap{width:960px;margin:0 auto;}
.ZB_wrap .ZB_content{overflow:hidden;width:938px;padding:10px;border:1px solid #e0e0e0}
.ZB_wrap #ad_img img{border: 1px solid #ccc;border-top: none;}

.ZB_nav{background:#000;margin-bottom:10px;line-height:29px;}/*overflow: hidden;*/
.ZB_nav li{float:left;padding:0 7px;}
.ZB_nav a{letter-spacing:3px;color:#fff;font-family:"Microsoft Yahei" "微软雅黑";}
.ZB_nav a:hover{text-decoration:none;}
.ZB_nav .search_area{position: relative;}
.ZB_nav .input_wrap{background: #fff;padding:0 10px;border-radius: 2px;border: 1px solid #b3b2b2;height: 19px;margin-top: 4px}
.ZB_nav .search_input{width:180px;border:none;margin-top: 2px;font-size: 14px;color: #999}
.ZB_nav .zoom_glass{float: right;width: 16px;height: 16px;margin-top: 2px;background: url("../images/common/zoom_glass.png");}
.ZB_nav .search_drop{float: right;width: 230px;margin-right: 5px}
.ZB_nav .drop_layer{position: absolute;right:0;width: 228px;margin-top: 1px;background: #fff;border-radius: 2px;border: 1px solid #ccc;border-bottom: none}
.ZB_nav .drop_layer a{display: block;padding:8px 10px;line-height: 14px;border-bottom: 1px solid #ccc;color: #333;letter-spacing: 1px}
/*.ZB_nav .drop_layer a:hover{background: #333;color:#fff;}*/
.ZB_nav .drop_layer a.selected{background: #333;color:#fff;}

/*标题*/
.ZB_index_title{margin-bottom:10px;font-size:14px;}
/*星标*/
.rating_wrap_big_hover{position:relative;display:inline-block;_display:inline;zoom:1;width:85px;height:16px;background:url("../images/common/mark.png") no-repeat 0 -304px;}
.rating_wrap_big_hover li{float:left;}
/*面包屑导航*/
.ZB_bread_nav {margin-bottom: 8px;font-size: 14px;font-weight: bold;}
/*.rating_wrap_big_hover .star{position:absolute;height:16px;overflow:hidden;-webkit-transition:all .5s ease;background-position:0 -160px;top:0;}*/
.rating_wrap_big_hover .star{position:absolute;height:16px;overflow:hidden;background-position:0 -160px;top:0;}
.rating_wrap_big_hover .hover .star{background-image:url("../images/common/mark.png");background-repeat:no-repeat;}
.rating_wrap_big_hover .one_star{z-index:5;width:16px;}
.rating_wrap_big_hover .two_stars{z-index:4;width:33px;}
.rating_wrap_big_hover .three_stars{z-index:3;width:50px;}
.rating_wrap_big_hover .four_stars{z-index:2;width:67px;}
.rating_wrap_big_hover .five_stars{z-index:1;width:84px;}
.rating_wrap_big_hover .hover .one_star{width:16px;background-position:0 -268px;}
.rating_wrap_big_hover .hover .two_stars{width:33px;background-position:0 -250px;}
.rating_wrap_big_hover .hover .three_stars{width:50px;background-position:0 -232px;}
.rating_wrap_big_hover .hover .four_stars{width:67px;background-position:0 -196px;}
.rating_wrap_big_hover .hover .five_stars{width:84px;background-position:0 -160px;}

.rating_wrap_big{display:inline-block;vertical-align:middle;width:84px;height:16px;overflow:hidden;_display:inline;zoom:1;}
.rating_wrap_big .star{display:inline-block;vertical-align:middle;width:84px;height:16px;background-image:url("../images/common/mark.png");}
.rating_wrap_big .star00{background-position:0 -304px;}
.rating_wrap_big .star05{background-position:0 -286px;}
.rating_wrap_big .star10{background-position:0 -268px;}
.rating_wrap_big .star15{background-position:0 px;}
.rating_wrap_big .star20{background-position:0 -250px;}
.rating_wrap_big .star25{background-position:0 px;}
.rating_wrap_big .star30{background-position:0 -232px;}
.rating_wrap_big .star35{background-position:0 -214px;}
.rating_wrap_big .star40{background-position:0 -196px;}
.rating_wrap_big .star45{background-position:0 -178px;}
.rating_wrap_big .star50{background-position:0 -160px;}

.rating_wrap_small{display:inline-block;vertical-align:middle;width:64px;height:12px;overflow:hidden;*display:inline;zoom:1;}
.rating_wrap_small .star{display:inline-block;vertical-align:middle;width:64px;height:12px;background-image:url("../images/common/mark.png");*vertical-align:top;}
.rating_wrap_small .star00{background-position:0 -136px;}
.rating_wrap_small .star05{background-position:0 -119px;}
.rating_wrap_small .star10{background-position:0 -102px;}
.rating_wrap_small .star15{background-position:0 px;}
.rating_wrap_small .star20{background-position:0 -85px;}
.rating_wrap_small .star25{background-position:0 px;}
.rating_wrap_small .star30{background-position:0 -68px;}
.rating_wrap_small .star35{background-position:0 -51px;}
.rating_wrap_small .star40{background-position:0 -34px;}
.rating_wrap_small .star45{background-position:0 -17px;}
.rating_wrap_small .star50{background-position:0 0;}
/*星标*/


/*底导*/
/*
.ZB_footer {margin:20px 0 50px;padding:25px 5px;border-top:1px dashed #d7d7d7;line-height:18px;color:#999;}
.ZB_footer a{color: #999}
.ZB_footer a:hover{color: #cc0033}
.ZB_footer .footer_icon{width:405px;margin-top: -5px}
.ZB_footer .footer_icon span{margin-bottom: 5px;display: inline-block;}
.ZB_footer .footer_icon .icon_list{display:inline-block;_margin-right:5px;width:16px;height:16px;background-image:url("../images/common/icon_list.png");background-repeat:no-repeat;vertical-align:middle;}
.ZB_footer .footer_icon .icon_weibo{background-position:0 0;}
.ZB_footer .footer_icon .icon_renren{background-position:-24px 0;}
.ZB_footer .footer_icon .icon_qzone{background-position:-48px 0;}
.ZB_footer .footer_icon .icon_qweibo{background-position:-72px 0;}
.ZB_footer .footer_icon .icon_sohu{background-position:-96px 0;}
.ZB_footer .footer_icon .icon_dou{background-position:-120px 0;}
.ZB_footer .right_wrap{text-align:right}
*/
.clear_f{clear:both;overflow:hidden;height:0}

.footer {
	border-top:1px solid #ddd;
	overflow:hidden;
	padding:15px 6px;
	margin-left:auto;
	margin-right:auto;
	margin-top:14px
}



.footer .foot_con {
	margin-left:auto;
	margin-right:auto;
	width:948px
}
.footer .foot_con .icon_list{display:inline-block;_margin-right:5px;width:16px;height:16px;background-image:url("../images/common/icon_list.png");background-repeat:no-repeat;vertical-align:middle;}
.footer .foot_con .icon_weibo{background-position:0 0;}
.footer .foot_con .icon_renren{background-position:-24px 0;}
.footer .foot_con .icon_qzone{background-position:-48px 0;}
.footer .foot_con .icon_qweibo{background-position:-72px 0;}
.footer .foot_con .icon_sohu{background-position:-96px 0;}
.footer .foot_con .icon_dou{background-position:-120px 0;}


.footer .f_list {
	float:left;
	line-height:26px;
	padding:10px 25px 20px 30px
}
.footer .f_list h4 {
	font-size:16px;
	line-height:28px
}
.footer .f_list ul {
	float:left;
	line-height:26px;
	padding-top:6px
}
.footer .f_list .sina_attention {
	position:relative
}
.footer .f_list .sina_attention .sina_attention_area {
	display:none;
	padding-left:17px;
	padding-top:6px;
	position:absolute;
	top:-15px;
	left:70px;
	background:url("http://i.meilishuo.net/css/images/header/attention_bg.png") no-repeat;
	width:125px;
	height:66px
}
.footer .f_list .kefu .tel_ico {
	background:url("http://i.meilishuo.net/css/images/header/mls_global140607.png") no-repeat 0 -111px;
	height:40px;
	width:36px;
	float:left
}
.footer .f_list .kefu p {
	margin-left:48px;
	line-height:20px
}
.footer .f_list .business {
	line-height:22px;
	padding-left:48px;
	padding-top:6px
}
.footer .rolling {
	border-top:1px solid #e6e6e6;
	height:20px;
	line-height:20px;
	padding:5px 10px;
	overflow:hidden
}
.footer .rolling h4 {
	font-size:12px;
	float:left;
	font-weight:normal
}
.footer .rolling ul {
	float:left;
	height:20px;
	line-height:20px;
	overflow:hidden;
	width:800px
}
.footer .rolling ul li {
	float:left;
	overflow:hidden;
	width:880px
}
.footer .rolling ul li a {
	white-space:nowrap;
	float:left;
	padding:0 5px
}
.footer .rolling .link_more {
	float:right
}
.footer .record {
	border-top:1px solid #e6e6e6;
	line-height:22px;
	padding-top:10px
}
.footer .weixin_code {
	float:right;
	padding-right:0
}
.footer .weixin_code .client_pic {
	background:url("../images/index/app_download.png") no-repeat 0 -401px;
	display:block;
	height:100px;
	margin-top:10px;
	width:132px
}
.footer .service_info {
	padding-left:0;
	padding-top:16px
}
.footer .qr-code h4 {
	text-align:center
}
.footer .qr-code img {
	width:115px;
	height:115px;
	margin-top:13px
}
.footer .ios-code img {
	width:140px;
	height:160px;
	margin-top:13px
}
.footer .ios-code h4 {
	text-align:center
}

/*登陆弹层*/
.login_layer_content{
	width:656px;
	height:256px;
	padding: 15px 25px;
}
.loginbtns_list {
	width:256px;
	margin:0 auto 20px;
	padding:35px 0;
	text-align: center;
}
.loginbtns_list .loginbtn {
	width:256px;
	height:66px;
	background:url("../images/loginbtns.png") 0 0 no-repeat;
	display:block;
	line-height:300px;
	overflow:hidden;
	margin-top:22px;
	opacity:.8;
	filter:alpha(opacity=80);
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease
}
.loginbtns_list .loginbtn:hover {
	opacity:1.0;
	filter:alpha(opacity=100)
}
.loginbtns_list .weibo {
	background-position:0 0;
	text-align: center;
}
.loginbtns_list .qq {
	background-position:0 -88px
}

/*新的登录层次
.layer_login{border:1px solid #ccc;padding:1px;padding:55px 0;}
.layer_login .login_title{height:30px;margin-bottom:45px;background:url("../images/common/login_title.png") no-repeat;}
.layer_login .login_icon_wrap{width:500px;overflow: hidden;}
.layer_login .btn_wrap{margin: 0 0 10px 40px;}
.layer_login .btn_wrap .login_btn{font-size: 18px;display: inline-block;padding: 14px 77px;background: #cc0033;color: #fff;margin-right: 5px}
*/
/*.layer_login .btn_wrap .sign_btn{font-size: 18px;display: inline-block;padding: 14px 18px;background: #cc0033;color: #fff;}*/
/*
.layer_login .icon_list li{float:left;_display:inline;text-align:center;padding-right:20px;margin-right:20px;background:url("../images/common/icon_border.png") no-repeat right center;}
.layer_login .icon_list li span{display:block;}
.layer_login .icon_list{padding-bottom: 25px;margin-bottom:25px;width:530px;border-bottom: 1px dashed #ccc}
.layer_login .sign_wrap h3{margin-bottom:10px;color:#000;font-size: 18px;font-weight: 100}
.layer_login .layer_login_wrap{margin:0 auto;width:560px;}
.layer_login .info_list{margin:0 0 10px 40px;}
.layer_login .tips{margin:10px 0 10px 100px;}
.layer_login .tips a{color:#cf0f0f;}
.layer_login .inp{margin-left:100px;}
.layer_login .tit{width:100px;height:32px;font-size:18px;line-height:30px;color:#000;font-family:"Microsoft Yahei" "微软雅黑";text-align:right}
.layer_login .tit i{color:#fb0101;margin-right: 5px;display: inline-block;vertical-align: middle;}
.layer_login .inp .W_input{border:1px solid #666;padding:6px 7px;width:210px;margin-right:10px;font-size:14px;color:#666;vertical-align:middle;}
.layer_login .inp .W_input_activation{width:60px;}
.layer_login .inp .message{display:inline-block;color:#fff;background:#333;padding:8px 22px;height:14px;margin-right:10px;font-size:12px;vertical-align:middle;}
.layer_login .inp .notice{color:#666;}
.layer_login .layer_login_btn{margin-left:100px;font-size:24px;display:inline-block;padding:14px 65px;background:#239808;color:#fff;}
.layer_login .layer_login_btn:hover{color:#fff;}
*/
/*.layer_login .weibo_login{display:inline-block;width:126px;height:26px;background:url("../images/common/icon_list.png") no-repeat 0 -30px;text-indent:-9999px;vertical-align:middle;}
.layer_login .QQ_login{display:inline-block;width:124px;height:26px;background:url("../images/common/icon_list.png") no-repeat 0 -60px;text-indent:-9999px;vertical-align:middle;}*/
/*登陆弹层*/

/*翻页*/
.tab .turn_page{margin-top:5px;}
.tab{position:relative;background:#fff;width:710px;margin-bottom:-1px;*bottom:-2px;_bottom:-3px;}
.tab a.cur{background:#fff;border-color:#e0e0e0;color:#333;cursor:default}
.tab a:hover{color:#fff;}
.tab a.cur:hover{color:#333;}
.turn_page{_height:22px;}
.turn_page .turn_left{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -50px;}
.turn_page .turn_right{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -75px;}
.turn_page .turn_left,
.turn_page .turn_right{border:none;padding:0;}

.turn_page{_height:22px;}
.turn_page .turn_left{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -50px;}
.turn_page .turn_right{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -75px;}
.turn_page .turn_left,
.turn_page .turn_right{border:none;padding:0;}
/*点评编辑框+弹层的样式 limeng*/

/*#RE_toolbar {background: url("../images/popup/selected-bg.png") no-repeat;height: 32px;width: 497px;margin-top: -1px;margin-left: -1px;}*/
#RE_toolbar {height: 32px;width: 617px;margin-top: -1px;margin-left: -1px;border-bottom: 1px solid #CCCCCC;}
/*#RE_toolbar .button {margin-top: 1px;float: left;width: 31px;height: 30px;cursor: pointer;background: url("../images/popup/icons.png") no-repeat;text-decoration: none;}*/
#RE_toolbar .button {margin-top: 1px;margin-left:5px;float: left;width: 39px;height: 31px;cursor: pointer;background: url("../images/popup/icons.png") no-repeat;text-decoration: none;}
#RE_toolbar .button:hover {background-color: #DDF3FF;}

#RE_toolbar .fontname {background-position: -553px -92px}
#RE_toolbar .fontsize {background-position: -646px -90px}
#RE_toolbar .removeformat {background-position: -367px 0px}
#RE_toolbar .bold {background-position: 4px 0px}
#RE_toolbar .italic {background-position: -27px 0px}
#RE_toolbar .underline {background-position: -59px 0px}
#RE_toolbar .strikethrough {background-position: -367px -31px}
#RE_toolbar .justifyleft {background-position: -213px 0px}
#RE_toolbar .justifycenter {background-position: -245px 0px}
#RE_toolbar .justifyright {background-position: -275px 0px}
#RE_toolbar .justifyfull {background-position: -306px 0px}
#RE_toolbar .indent {background-position: -336px 0px}
#RE_toolbar .outdent {background-position: -88px -86px}
#RE_toolbar .forecolor {background-position: -465px 0px}
#RE_toolbar .backcolor {background-position: -496px 0px}
#RE_toolbar .createlink {background-position: -651px 0px}
#RE_toolbar .insertimage { background-position: 5px -31px}
#RE_toolbar .insertorderedlist {background-position: -120px 0px}
#RE_toolbar .insertunorderedlist {background-position: -90px 0px}

#RE_toolbar .html {background-position: -589px -31px}
#RE_toolbar .table {background-position: -31px -62px}
#RE_toolbar .emoticons {background-position: -31px -31px}
.RE_popup {border: 1px solid #A0A0A0;background-color: #F1F1F1;color: #222;padding: 2px;font-family: "sans serif", tahoma, verdana, helvetica;font-size: 12px;text-align: left;overflow: hidden;}
.RE_popup_shadow {box-shadow: 1px 1px 3px #A0A0A0;-moz-box-shadow: 1px 1px 3px #A0A0A0;-webkit-box-shadow: 1px 1px 3px #A0A0A0;background-color: #F0F0EE;}
.RE_popup_item {border: 1px solid #F1F1F1;background-color: #F1F1F1;color: #222;height: 24px;overflow: hidden;cursor: pointer;}
.RE_popup_item:hover {border: 1px solid #5690D2;background-color: #E9EFF6;}
.RE_popup_item_left {width: 27px;text-align: center;overflow: hidden;}
.RE_popup_item_right {border: 0;padding: 0 0 0 5px;line-height: 24px;text-align: left;overflow: hidden;}
.RE_popup_item_checked {background-image: url("../images/popup/icons.png");background-position: 615px -96px;width: 16px;height: 16px;}
.RE_popup_inline_block {display: -moz-inline-stack;display: inline-block;vertical-align: middle;zoom: 1;}

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.W_close {cursor: pointer;width: 20px;height: 20px;background: url(../images/popup/ico.png) no-repeat 5px -250px;display: block;}
.W_layer .detail .send_weibo .btn .W_btn_a {background-position: 0 -144px;}
.W_layer .detail .send_weibo .btn .W_btn_a:hover {background-position: 0 -192px;text-decoration: none;}
.W_layer .detail .send_weibo .btn .W_btn_a:hover span {background-position: right -216px;}
.W_layer .welfare .send_weibo .btn a:hover {background-position: 0 0;}
.W_layer .welfare .send_weibo .btn a span {background-image: none;}
.W_layer .welfare .send_weibo .btn a.disable {background-position: -70px 0;}
.W_layer .send_weibo .add .W_btn_a {position: relative;vertical-align: middle;overflow: hidden;}
.W_close:hover {background-position: 0 -1954px;}
.W_layer {position: absolute;-moz-border-radius: 4px;-webkit-border-radius: 4px;z-index: 9999;}
.W_layer .bg {padding: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background: url(../images/popup/layer_bg.png) repeat;}
.W_layer .content {position: relative;background: #fff;border: 1px solid #000;-moz-border-radius: 3px;}
.W_layer .title {background: #191919;height: 30px;line-height: 30px;padding: 0 0 0 20px;color: #595959;font-size: 14px;vertical-align: middle;}
.W_layer .W_close {position: absolute;z-index: 2;right: 14px;top: 5px;}
.W_layer .W_close_new {position: absolute;z-index: 2;right: 10px;top: 5px;_top: 10px;font-size: 18px;_font-size: 14px;color: #999;}
.W_layer .W_close_new:hover {color: #666;text-decoration: none;}
.W_layer .detail {padding:50px;}
.W_layer .W_vline {text-indent: -1px;display: inline-block;}
.W_layer .tab {background: #f0f0f0;padding: 4px 4px 0 6px;}
.W_layer .tab .tab_title {font-size: 14px;margin: 0 0 0 15px;}
.W_layer .tab a {height: 26px;line-height: 26px;padding: 0 11px;margin: 0 -2px;}
.W_layer .tab .current {text-decoration: none;cursor: default;background: #fff;position: relative;z-index: 1;border: 1px solid #e8e8e8;border-bottom: 0;display: inline-block;-moz-border-radius-topright: 3px;-webkit-border-top-right-radius: 3px 3px;-moz-border-radius-topleft: 3px;-webkit-border-top-left-radius: 3px 3px;}
.W_layer .tab_bottom {height: 27px;padding: 3px 0 0;background: url(../images/popup/layer_tab_bottom_bg.png) repeat-x left bottom;margin: 20px 0 0;}
.W_layer .tab_bottom .tab_title {font-size: 12px;}
.W_layer .btn {text-align: right;padding: 15px 0 0;}
.W_layer .btn a {margin: 0 0 0 10px;}
.W_layer .layer_notice .layer1_words {width: 340px;padding-right: 20px;}
.layer_point {width: 320px;padding: 20px 30px 30px 30px;}
/*end 点评编辑框+弹层的样式  limeng*/
/*小弹层*/
.W_layer .layer_mini_info_big{padding:20px;}

/* 弹层显示图片  鼠标移动到图片左侧和右侧显示cursor */
.W_layer .leftcursor{cursor: url(../images/popup/pic_prev.cur), auto;position: absolute;width:342px;height:400px;left: 0px;}
.W_layer .rightcursor{cursor: url(../images/popup/pic_next.cur), auto;position: absolute;width: 342px;height: 400px;right: 0px;}

/*加关注按钮*/
a.add_btn,
A.atten_btn{font-size:14px}
a.add_btn{width:74px;height:30px;display:inline-block;text-align:center;line-height:30px;background:#cc0033;_zoom:1}
a.add_btn span{color:#fff}
a.add_btn:hover{background:#e8023b;}
a.add_btn:active{background:#a7032c}
a.atten_btn{width:74px;height:30px;display:inline-block;text-align:center;line-height:30px;background:#666;}
a.atten_btn span{color:#fff}
a.atten_btn:hover{background:#d1d1d1;}
a.atten_btn:hover span{color:#333;}
/*公用按钮*/
a.common_btn1{display: inline-block;margin-right: 10px;vertical-align: middle;padding: 0 10px;height: 34px;line-height: 34px;text-align: center;background: #333;color: #fff;-webkit-transition: background .2s ease-in;}
a.common_btn1:hover {background: #c60c30;text-decoration: none;}
/*原结构加关注按钮*/
.W_btn_a{width:74px;height:30px;display:inline-block;text-align:center;line-height:30px;background:#666;}
.W_btn_a span{color: #fff}
.W_btn_a:hover{background:#d1d1d1}
.W_btn_a:hover span{color:#333}

.W_btn_b{width: 74px;height: 30px;display: inline-block;text-align: center;line-height: 30px;background: #cc0033;}
.W_btn_b span{color: #fff}
.W_btn_b:hover{background:#e8023b}

.W_btn_c{width: 74px;height: 30px;display: inline-block;text-align: center;line-height: 30px;background: #000;-webkit-transition: background .2s ease-in;cursor: pointer;}
.W_btn_c span{color: #fff}
.W_btn_c:hover{background:#c60c30;text-decoration: none;}
/*空状态通用样式*/
.info_blank{padding: 60px;line-height: 22px;font-size: 14px}
/*报错提示*/
.ZB_notice_del{margin: 10px 0 10px;}
.ZB_notice_del .icon_notice{display: inline-block;vertical-align: middle;;width: 16px;height:16px;background: url(../images/common/comment_icon.png)}
.ZB_notice_del .icon_del{background-position: -25px 0}
.ZB_notice_del .icon_succes{background-position: -25px -25px}
/*各种公用icon*/

.comment_icon .icon {margin-right: 5px}
.comment_icon .icon span{display: inline-block;vertical-align: bottom;width: 24px;height: 24px;background-image: url("../images/common/comment_icon.png");}
.print_icon span{background-position:-25px -50px;}
.print_icon:hover span{background-position:-25px -75px;}
.print_icon:active span{background-position: -25px -100px}
.posi_icon span{background-position: -50px -50px}
.posi_icon:hover span{background-position: -50px -75px}
.posi_icon:active span{background-position: -50px -100px}
.like_icon span{background-position: -75px -50px}
.like_icon:hover span{background-position: -75px -75px}
.like_icon:active span{background-position: -75px -100px}
.liked_icon{color: #e04023}
.liked_icon span{background-position: -75px -125px}

.like_icon,
.liked_icon,
.icon_favor,
.icon_comment{display: inline-block;vertical-align: bottom;width: 22px;height: 24px;background-image: url("../images/common/comment_icon.png");*vertical-align: middle;}
.icon_favor{background-position: -25px -150px}
.icon_comment{background-position: -50px -150px}
.like_icon{background-position: -75px -75px}
.like_icon:hover{background-position: -75px -125px}
.liked_icon{background-position: -75px -50px}
/*返回顶部按钮*/
.goToTop {
  width: 60px;
  position: fixed;
  _position: absolute;
  left: 50%;
  margin-left: 490px;
}

.goToTop .toTop {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/common/backToTop.png) no-repeat;
}
.goToTop .toTop:hover{background-position: -70px 0}


.fixedable{
    _top: expression(documentElement.scrollTop);
}

/*banner轮播*/
/*
.banner{position: relative;height: 94px}
.focus_num{text-align: right;position: absolute;bottom: 0;right: 0;z-index: 100;}
.banner .focusimg-bt-left a, .banner .focusimg-bt-right a{top:10px;width: 40px;height: 60px;overflow: hidden;cursor: pointer;position: absolute;z-index: 10;background: url(../images/common/turn_pic.png);_background: url(../images/common/turn_pic.gif);}
.banner .focusimg-bt-left a{left:20px;background-position: -44px 0;}
.banner .focusimg-bt-right a{right: 20px;background-position: -74px 0;}
.banner .focusimg-bt-left a:hover {background-position: -2px 0;}
.banner .focusimg-bt-right a:hover {background-position: 38px 0;}
.focus_num a{display: inline-block;width: 24px;height: 14px;line-height: 14px;font-size: 12px;text-align: center;background: #3b5998;color: #fff}
.focus_num a:hover{background: #f60}
.focus_num a.selected{background: #f60}
*/

/*banner轮播*/
.banner{position: relative;height: 90px;-webkit-box-shadow:0px 1px 5px 0px #4a4a4a;box-shadow:0px 1px 5px 0px #4a4a4a;background:#fff url(/images/loading.gif) no-repeat 50% 50%;}
.banner .hd{text-align: right;position: absolute;bottom: 0;right: 0;z-index: 100;}
.banner .focusimg-pic .prev,
.banner .focusimg-pic .next{top:10px;width: 40px;height: 60px;overflow: hidden;cursor: pointer;position: absolute;z-index: 10;background: url(../images/common/turn_pic.png);_background: url(../images/common/turn_pic.gif);}
.banner .focusimg-pic .prev{left:20px;background-position: -44px 0;}
.banner .focusimg-pic .next{right: 20px;background-position: -74px 0;}
.banner .focusimg-pic .prev:hover {background-position: -2px 0;}
.banner .focusimg-pic .next:hover {background-position: 38px 0;}

.banner .hd ul{ overflow:hidden; zoom:1; float:left;  }
.banner .hd ul li{ float:left; margin-right:10px;  width:30px; height:18px; line-height:18px; text-align:center; background:#ccc; cursor:pointer;}
.banner .hd ul li a{color:#fff;}
.banner .hd ul li.on{ background:#000;  }



.ZB_wrap .nivoSlider {height:90px;overflow: hidden;}

.prev-blog a, .next-blog a { position: fixed; width: 40px; height: 40px; font-size: 0; line-height: 100px; overflow: hidden; top: 50%; margin-top: -20px }
.prev-blog a { background-image: url(/images/style.png); background-position: 0 0; left: 0 }
.prev-blog a:hover { background-image: url(/images/style.png); background-position: 0 -41px }
.next-blog a { background-image: url(/images/style.png); background-position: 0 -82px; right: 0 }
.next-blog a:hover { background-image: url(/images/style.png); background-position: 0 -123px }






/* wireless floating layer */
.app_wrap_pop input,
.app_wrap_pop p{margin:0;padding:0;}
.app_wrap_pop a{color:#06c;text-decoration:none;}
.app_wrap_pop a:hover{text-decoration:underline;}
.app_wrap_pop .app_wrap_pop_s_btn,
.app_wrap_pop .app_wrap_pop_s_btn_disabled{width:145px; height:33px;  color:#fff; font-size:16px; font-family: "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif; font-weight:bold; cursor:pointer;  text-align: center; letter-spacing: 0.4em;text-indent:0.4em;box-shadow:0 1px 0 rgba(95,50,0,0.7); border-radius:3px; *filter:chroma(color=#000000);}
.app_wrap_pop .app_wrap_pop_s_btn{text-shadow:1px 1px 0 #cf7000;background-color:#ffb000;border:solid 1px #e77c00;}
.app_wrap_pop .app_wrap_pop_s_btn_disabled{color:#999;background-color:#efefef;border:solid 1px #ccc;cursor:default;}
.app_wrap_pop_s_item input,
.app_wrap_pop_s_item2 input,
.app_wrap_pop_s_item3 input{width:140px; padding-left:3px;margin-left:10px; border-color:#bbb #ddd #ddd #bbb; border-style:solid; border-width:1px; height:28px; font:14px/28px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;*vertical-align:middle;outline:none;color:#333;box-shadow:1px 1px 1px #ddd inset;}
.app_wrap_pop{position:fixed;z-index:10000;top:auto;bottom:0;width:100%;height:222px;background:url(../images/bak_bottom.png) repeat-x 0 -225px;_position:absolute;_background:#1E2939;}
.app_wrap_pop_box{position:relative;z-index:1;width:980px;height:185px;margin:0 auto;font:12px/1.5 arial,Simsun,sans-serif;color:#333;}
.app_wrap_pop_pic_phone,.app_wrap_pop_ico_success,.app_wrap_pop_ico_alert{background:url(../images/un_app.png) no-repeat;}
.app_wrap_pop_ico_success,.app_wrap_pop_ico_alert{display:inline-block;width:16px;height:16px;margin-right:3px;vertical-align:middle;}
.app_wrap_pop_ico_success{background-position:-25px -210px;}
.app_wrap_pop_ico_alert{background-position:-45px -210px;}
.app_wrap_pop_pic_phone{position:absolute;top:-20px;left:0;width:145px;height:198px;background-position:0 0;}
.app_wrap_pop .app_wrap_pop_close{position:absolute;top:10px;right:0;font:normal 38px Simsun;color:#9AA1A8;outline:0 none;}
.app_wrap_pop .app_wrap_pop_close:hover{text-decoration:none;}
.app_wrap_pop_text{position:absolute;top:30px;left:175px;width:340px;font-family:'microsoft yahei';color:#FFF;}
.app_wrap_pop_text .app_wrap_pop_t{margin-bottom:15px;font-size:30px;}
.app_wrap_pop_text .app_wrap_pop_t strong{margin-left:10px;}
.app_wrap_pop_text .app_wrap_pop_t2{font-size:20px;}
.app_wrap_pop_text .app_wrap_pop_t2 strong{margin-left:15px;}
.app_wrap_pop_text .app_wrap_pop_c{line-height:1.2;font-size:28px;}
.app_wrap_pop_text .app_wrap_pop_c span{margin-left:10px;color:#FF8300;font-size:24px;}
.app_wrap_pop_text .app_wrap_pop_c dfn{font-style:normal;font-size:28px;font-family:Tahoma;}
.app_wrap_pop_text .app_wrap_pop_c .app_wrap_pop_emphasis{vertical-align:-2px;font-size:32px;}
.app_wrap_pop_text .app_wrap_pop_c2{margin:-65px 0 -20px;font-size:36px;color:#FF8300;}
.app_wrap_pop_text .app_wrap_pop_c2 span{font-weight:bold;font-size:90px;font-style:italic;font-family:Tahoma;}
.app_wrap_pop_text .app_wrap_pop_c3{font:18px "Microsoft Yahei";color:#899cb8;}
.app_wrap_pop_cont{position:absolute;top:0;left:495px;width:399px;height:160px;padding:25px 13px 0 25px;color:#FFF;background:url(../images/bak_bottom.png) repeat-x 0 -35px;_background:#49535F;}
.app_wrap_pop_form{float:left;width:270px;}
.app_wrap_pop_form .app_wrap_pop_t{margin-bottom:25px;font:normal 16px "Microsoft Yahei";}
.app_wrap_pop_form .app_wrap_pop_t a{margin-left:10px;font-size:12px;font-family:Tahoma;color:#FFF;}
.app_wrap_pop_form .app_wrap_pop_t a span{font-size:14px;}
.app_wrap_pop_form .app_wrap_pop_s_item{width:auto;margin:8px 0 5px;}
.app_wrap_pop_form .app_wrap_pop_s_item input{margin:0 10px 0 0;vertical-align:middle;}

.app_wrap_pop .app_wrap_pop_btn01,.app_wrap_pop .app_wrap_pop_btn01_disabled{display:inline-block;padding:0 15px;height:26px;line-height:26px;vertical-align:middle;background:#2277cc;border-radius:3px;box-shadow:0 1px 0 #0D2E6F;font-family:'simsun';color:#fff;font-size:12px;cursor:pointer;}
.app_wrap_pop .app_wrap_pop_btn01:hover{background:#2299FF;text-decoration:none;}
.app_wrap_pop .app_wrap_pop_btn01_disabled,.app_wrap_pop .app_wrap_pop_btn01_disabled:hover{text-decoration:none;cursor:default;background-color:#D1D1D1;box-shadow:0 1px 0 #333;}

.app_wrap_pop_download{position:relative;margin-top:3px;_zoom:1;}
.app_wrap_pop_download .app_wrap_pop_btn_d{display:inline-block;padding:3px 15px;margin-right:8px;vertical-align:middle;font:normal 16px Tahoma;color:#FFF;border:1px solid #FFF;border-radius:3px;box-shadow:0 1px 0 #09214A;}
.app_wrap_pop_download .app_wrap_pop_btn_d:hover{text-decoration:none;color:#555E6B;background-color:#FFF;}
.app_wrap_pop_tip{margin-bottom:3px;color:#999;}
.app_wrap_pop_android{position:absolute;left:82px;bottom:-7px;*left:84px;width:80px;padding:0 10px 10px;text-align:center;font:normal 16px Tahoma;color:#555E6B;border:1px solid #D6D6D6;background-color:#FFF;}
.app_wrap_pop_android a{display:block;height:26px;margin-top:10px;line-height:26px;border:1px solid #d1d1d1;border-radius:3px;background-color:#fcfcfc;color:#2577E3;text-align:center;box-shadow:0 1px 1px rgb(209,209,209);font-size:12px;font-family:SimSun;cursor:pointer;*filter:chroma(color=#000000);}
.app_wrap_pop_android a:hover{text-decoration:none;background-color:#06c;color:#fff;border-color:#06c;}
.app_wrap_pop_android span{display:block;margin-top:10px;}
.app_wrap_pop_code{float:right;padding-top:4px;}
.app_wrap_pop_code p{margin-bottom:3px;}
.app_wrap_pop_code img{width:100%;height:100%;}
.app_wrap_pop_collect{height:38px;text-align:center;font:normal 16px/38px "Microsoft Yahei",Tahoma;color:#FFF;background-color:#000;}
.app_wrap_pop_collect .app_wrap_pop_s_btn{height:26px;margin-left:15px;padding:0 10px;line-height:26px;letter-spacing:0;font-weight:normal;font-size:15px;text-shadow:none;}
.app_wrap_pop_collect .app_wrap_pop_s_btn:hover{text-decoration:none;}
.app_wrap_pop_down_intro{padding-left:40px;}
.app_wrap_pop_down_intro .app_wrap_pop_form{width:178px;padding-right:20px;}
.app_wrap_pop_down_intro .app_wrap_pop_form .app_wrap_pop_t{font-size:16px;}
.app_wrap_pop_down_intro .app_wrap_pop_t2{font-size:14px;font-family:'Microsoft yahei';margin-bottom:15px;}


.suggest_list li{margin-bottom:5px;}





.quotes{font-family:宋体;margin:15px 0;clear:both;}
.quotes a,.quotes .disabled{text-align:center;display:inline-block;height:34px;width:34px;border:1px solid #dbdbdb;line-height:34px;color:#464646;border-radius:3px;margin:0 2px;}
.quotes a:hover,.quotes a.current{border:1px solid #14a7c6;color:#ffffff;background:#16badd;text-decoration:none;font-weight:bold;}

