/*page1*/
	.ZB_cities_wrap{margin-bottom:20px;}
	.ZB_cities_wrap .ZB_cities{height:138px;margin-bottom:9px;border:1px solid #ccc;overflow:hidden;}	
	.ZB_cities_wrap .hidden_margin{float:left;width:858px;overflow:hidden;}
	.ZB_cities_wrap .state_name{float:left;width:55px;height:138px;margin-right:1px;background:url("../images/module/satate.png") no-repeat;}
	.ZB_cities_wrap .amc{background-position:0 0;}
	.ZB_cities_wrap .eup{background-position:-55px 0;}
	.ZB_cities_wrap .asia{background-position:-110px 0;}
	.ZB_cities_wrap ul{padding:3px;width:866px;height:138px;}
	.ZB_cities_wrap li{float:left;margin-right:5px;}
	.ZB_cities_wrap li a{display:block;position:relative;overflow:hidden;}
	.ZB_cities_wrap li a img{display:block;overflow:hidden;zoom:1}
	.ZB_cities_wrap li a .city_name{position:absolute;padding:2px 5px;font-size:18px;bottom:0;right:0;background:#000;filter:alpha(opacity=70);background:rgba(0,0,0,.7);color:#fff;font-family:"Microsoft Yahei" "微软雅黑";}
	.ZB_cities_wrap .arrow_right{float:left;border:1px solid #cdcdcb;margin:2px;width:16px;text-align:center;height:132px;line-height:132px;background:#ebebeb url("../images/module/slide_arrow.png") no-repeat center center;cursor:pointer;}

	.ZB_banner{position:relative;margin-bottom:10px;width:940px;overflow:hidden;}
	.ZB_banner .banner_num{position:absolute;width:100%;bottom:0;}
	.ZB_banner .banner_pic{width:3760px;position:relative;}
	.ZB_banner .banner_pic li{float:left;height:145px;overflow:hidden;}
	.ZB_banner .fr{float:right;}
	.ZB_banner .banner_num li{float:left;margin-right:5px;}
	.ZB_banner .banner_num li a{font-size:26px;;color:rgba(255,255,255,0.5);color:#ccc\9}
	.ZB_banner .banner_num li a:hover,
	.ZB_banner .banner_num li.cur a{color:#fff;}
	/*评论*/
	.ZB_bottom_suggest{width:950px;overflow:hidden;}
	.ZB_bottom_suggest .hidden_margin{width:970px;}
	.ZB_bottom_suggest .suggest_item{float:left;margin-right:8px;width:227px;border:1px solid #dfdfdf;}
	.ZB_bottom_suggest .item_intro{padding:7px 15px;}
	.ZB_bottom_suggest .response_wrap{background:#f2f2f2}
	.ZB_bottom_suggest .response{line-height:18px;padding:6px 10px;border-top:1px solid #fff;border-bottom:1px solid #d7d7d7}
	.ZB_bottom_suggest .response a{margin-right:5px;}
/*弹层样式*/
@import "layer/cities_layer.css";