/*弹层样式*/
@import "layer/cities_layer.css";


@import "layer/shop_layer.css";
/*page1*/
	.ZB_wrap .ZB_content{margin-bottom:28px;}

	.shop_wrap{padding:0 38px 28px;}
	.shop_title{padding-bottom:10px;margin-bottom:30px;border-bottom:1px solid #cfcfcf;}
	.shop_pic img{width:130px;height:100px;margin-bottom:10px;border:1px solid #999;}
	.shop_pic .shop_name_E a{color:#666;font-size:18px;margin-left:8px;}
	.shop_pic .shop_name_C a{font-size:16px;margin-left:8px;}
	.shop_pic .list_detail{width:920px;}
	.shop_pic li{float:left;margin:10px 50px 0 0;height: 160px}
	.shop_title,
	.brand_title{color:#000;font-family:"Microsoft Yahei" "微软雅黑";font-size:14px;}
	
	.brand_list{padding:18px 20px;border-bottom:1px dotted #cfcfcf;width: 900px}
	.brand_list a{display:inline-block;vertical-align:middle;border-radius:3px;width:20px;height:20px;line-height:20px;text-align:center;margin-right:10px;*margin-right: 7px;}
	.brand_list a.cur{background:#000;color:#fff;font-size:16px;}
	.brand_wrap{padding:20px 18px;}
	.brand_wrap .brand_pic{margin-right:10px;text-align:center;line-height:60px;width:80px;height:60px;border:1px solid #999;}
	.brand_wrap .brand_pic img{width:100%;height:100%;}
	.brand_wrap .list_detail li{float:left;width:160px;margin:0 20px 20px 0;}
	.brand_letter{margin-bottom:10px;font-weight:700;font-size:18px;color:#000;}
	.brand_wrap .list_name_E{margin-top:15px;margin-bottom:3px;overflow: hidden;word-wrap: break-word;}
	.brand_wrap .list_name_C{margin-left: 90px;overflow: hidden;width: 61px;height: 14px;}
	.brand_wrap .list_name_C .W_texta{color:#666;}

    .brand-list-fixed{border-top: 1px dotted #cfcfcf;background: #fff;}

