body{height: 100%;width: 95%; margin: 0 auto}
.map_layer{position: relative;width: 100%;height:93.5%;border: 2px solid #5b5b5b;border-radius: 2px; margin-top:10px;}
.map_layer .header{background: #000;padding: 5px 8px}
.map_layer .back{float: left;padding: 3px 20px 0 10px}
.map_layer .search_wrap{float: left;height: 27px;background: #fff;border-radius: 2px;border: 1px solid #b3b2b2}
.map_layer .search_wrap .search_btn{float: right;margin-top: 3px;width: 22px;height: 22px;background: url("/images/map/map_back.png") 0 -25px;}
.map_layer .select_wrap{float: right;position: relative;z-index: 10}
.map_layer .select_down{position: absolute;width: 100%;z-index: 11;border: 1px solid #b3b2b2;border-bottom: none}
.map_layer .select_down li{background: #fff;border-bottom:1px solid #ccc;}
.map_layer .select_down li a{display: block;padding: 10px;}
.map_layer .select_down li a:hover{background: #333;color: #fff;-webkit-transition:background .02s ease-in;}
.map_layer .back_icon{display: inline-block;width: 18px;height: 23px;background: url("/images/map/map_back.png");}
.map_layer .search_wrap .search_city{float: left;padding:7px 10px 5px;font-size: 14px;border-right: 1px solid #ccc;font-family: "微软雅黑";color: #000}
.map_layer .search_wrap .change_city{font-size: 12px;cursor:pointer;}
.map_layer .search_wrap input{color: #666;padding-left: 10px;width: 330px;margin: 4px 0;width: 300px;height: 20px;line-height: 20px;font-size: 14px;border: 0;}
.map_layer .user_addr{float: right;margin-top:3px;width: 19px;height: 22px;background: url("/images/map/map_back.png") 0 -50px;}
.map_layer .back_btn{float: right;height: 28px;line-height: 28px;}

.map_layer .fluid_height{height: 600px}
.map_layer .aside{position: relative;width: 235px;z-index: 6;float: left;bottom: 0;height: 100%;background-color: white;overflow: hidden;box-shadow: 1px 0 5px rgba(0,0,0,0.5);}
.map_layer .aside .result-total{padding: 10px 20px;background:#ededed;border-bottom: 1px solid #bebebe}
.map_layer .result-list{height:522px;overflow-y:auto }
.map_layer .result_total{margin: 0 2px;color: #f00}
.map_layer .result-list li{padding: 17px 13px;border-bottom: 1px solid #c8c8c8;cursor: pointer;}
.map_layer .icon_spot{float: left;width: 19px;height: 25px;color: #fff;background: url("/images/map/map_back.png");text-align: center;line-height: 25px}
.map_layer .spot_red{background-position:0 -75px; }
.map_layer .spot_blue{background-position: -21px -75px}

.map_layer .shop_info{margin-left: 30px}
.map_layer .result-list .name{margin-bottom: 10px;color: #000}
.map_layer .result-list .addr{color: #666}
.map_layer .result-list .current{background: #f3f7fd}
.map_layer .aside .pagination {padding: 10px 0 10px 40px;text-align: left;}
.map_layer .pagination .current{padding: 2px 6px;color: #008db0;font-weight: bold;}
.map_layer .pagination a, .map_layer.pagination span {padding: 2px 6px;color: #747474;border-radius: 2px;}
.map_layer .pagination a:hover{background: #dbdbdb;}

.map_layer .ZB_cities_layer{top:35px;left: 56px}