/*二维码关注模块*/
@import "module/social_media_list.css";

body{color:#000;}
.ZB_city .ZB_nav{margin-bottom:15px;border:none}
.ZB_city .ZB_bread_nav{margin-bottom:8px;}


.ZB_city .right_block{padding:10px;margin-bottom:10px;border:1px solid #e0e0e0;box-shadow: 0 0 1px rgba(0,0,0,0.1);}
.ZB_city .right_block .title{margin:10px;font-weight:700;font-size:14px;color:#000;}
.ZB_city .right_block .more{float: right;font-size: 12px}

.ZB_city .left_block{margin-bottom:10px;border:1px solid #e0e0e0;box-shadow: 0 0 1px rgba(0,0,0,0.1);}
.ZB_city .left_block .title{margin:10px;font-weight:700;font-size:14px;color:#000;}
.ZB_city .left_block .more{float: right;font-size: 12px}
.shop_list_wrap{width:690px;padding:10px;border:1px solid #e0e0e0;box-shadow:0 0 1px rgba(0,0,0,0.1);}
.shop_list_wrap .store{padding:24px 10px;border:3px solid #d9d9d9;}
.side_bar{width:240px;}
.suggest_list{font-size:13px;line-height:18px;}

.word_wrap{padding:5px 5px 10px;margin:10px 10px 0;border-bottom:1px dotted #cfcfcf;}
.word_wrap a{display:inline-block;width:15px;height:15px;line-height:15px;text-align:center;margin:0 10px 10px 0;border-radius:3px;color: #000;cursor: pointer;}
.word_wrap a.cur,
.word_wrap a:hover{background:#000;color:#fff;text-decoration:none;}

/*左侧栏品牌切换*/
.toggle_list p{margin-bottom:10px;}
.toggle_list .all_brand{background: #fff;border-bottom: 1px dotted #cfcfcf;font-size: 14px;color: #fff;margin:0 20px 10px;}
.toggle_list .all_brand a{padding:15px 10px;display: block;margin:0 -10px;}
.toggle_list .all_brand a:hover{background: #ccc;color: #fff}
.toggle_list .all_brand a.cur{background: #333;color: #fff}
.toggle_list .toggle_icon{display:inline-block;width:9px;height:9px;margin-right:6px;vertical-align:middle;background-image:url("../images/common/comment_icon.png") ;}
.toggle_list .close{background-position:0 -125px;}
.toggle_list .open{background-position:0 -150px}
.toggle_list .list_detail{margin-bottom:10px;}
.toggle_list .list_detail li{padding:5px 17px;cursor: pointer;}
.toggle_list .list_detail li:hover{background: #ccc;-webkit-transition:background .3s ease;}
.toggle_list .list_detail li.cur{background: #333;}
.toggle_list .list_detail li.cur a{color: #fff;}
.toggle_list .brand_pic{margin-right:10px;border:1px solid #999;}
.toggle_list .list_name_E{margin-bottom:10px;}

/*底部翻页*/
.turn_page{_height:22px;}
.turn_page .turn_left{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -50px;}
.turn_page .turn_right{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -75px;}
.turn_page .turn_left,
.turn_page .turn_right{border:none;padding:0;}


.ZB_city .city_tab{position:static;background:#fff;width:auto;height:34px;overflow:hidden;}
.ZB_city .city_tab .tab_list {height:35px;overflow:hidden;font-size:0;}
.ZB_city .city_tab .tab_list a{display:inline-block;font-size:12px;margin-right:10px;padding:10px;border:1px solid #000;border-bottom:1px solid #b2b2b2;background:#000;color:#fff;}
.ZB_city .city_tab .tab_list a:hover{background:#666;border-bottom:1px solid #000;padding-bottom:9px}
.ZB_city .city_tab .tab_list a.cur{background:#fff;border-color:#b2b2b2;color:#333;cursor:default;border-bottom:none;*position: relative;}
.ZB_city .city_tab .tab_list a.cur:hover{color:#333;border-bottom:none;padding-bottom:10px}
.ZB_city .input{display:inline-block;vertical-align:middle;width:100px;height:16px;padding:2px;border:1px solid #b2b2b2;cursor:pointer;}
.ZB_city .arrowdown{display:inline-block;vertical-align:middle;width:15px;height:16px;background:url("../images/common/comment_icon.png") no-repeat 0 -100px;}
.ZB_city .shop_list .comment_wrap:last-child .comment{border:none;}
/*过滤器*/
.ZB_city .filter_list{margin-top: -1px;*margin-top:0;padding: 16px 10px 10px;border: 1px solid #b2b2b2;margin-bottom: 25px;}
.ZB_city .filter_list .select li{margin-bottom: 5px;}
.ZB_city .filter_list .select .cate{float: left;}
.ZB_city .filter_list .select .cate_wrap{margin-left: 57px}
.ZB_city .filter_list .select a{padding: 3px 7px;margin:0 5px 5px 0;display: inline-block;}
.ZB_city .filter_list .select a.cur{background:#c60c30;color: #fff}
.ZB_city .filter_list .select a:hover{background: #d1d1d1;color: #000}

.ZB_city .comment{margin-bottom:10px;padding:10px 0 22px;border-bottom:1px dotted #ccc;line-height:18px;}
.ZB_city .comment .avatar_pic{border: 1px solid #ccc;padding:2px;}
.ZB_city .comment_info{margin-left:190px;}
.ZB_city .comment_info .title{font-size:18px;}
.ZB_city .comment_info .title .fs14{font-size: 14px}
.ZB_city .comment_info div{margin-bottom:3px;}
.ZB_city .comment_info .left_border{display: block;overflow: hidden;}
.ZB_city .comment_info .tag a{display: inline-block;background: #ccc;padding:2px 5px;margin:0 4px 8px;}
	/*列表页收藏按钮*/
.ZB_city .comment_info .tag .favor_btn{margin-bottom: 5px;display: inline-block;text-align: center;padding: 0 10px;line-height: 22px;background: #333;color: #fff;}
.ZB_city .comment_info .tag .favor_btn:hover{color: #fff;background: #c60c30;-webkit-transition: background .2s ease-in;}

.ZB_city .comment_info .tag .disable_btn{margin-bottom: 5px;display: inline-block;text-align: center;padding: 0 10px;line-height: 20px;color: #fff;background: #333;}
.ZB_city .comment_info .tag .disable_btn:hover{color: #fff;background: #c60c30;}

.ZB_city .comment_info .rating_wrap_small{margin:0 5px;}
.ZB_city .comment_info .around_info a{margin-left:20px;}
.ZB_city .comment_info .one_comment em{color:#666;text-decoration:underline;}
.ZB_city .comment_info .one_comment .user{color:#999;text-decoration:none;}
.ZB_city .comment_info .comment_icon{text-align: right;}
.ZB_city .comment_info .bottom_comment{margin-top:30px;}


.ZB_city .comment_info .card_icon{display: inline-block;padding: 2px 4px;margin-right: 10px;background:#F03;color: #fff; border-radius: 5px;font-size: 12px}
.ZB_city .comment_info .card_icon_black{display: inline-block;padding: 2px 4px;margin-right: 10px;background:#000;color: #fff; border-radius: 5px;font-size: 12px}

.ZB_city .comment_info .tag_discount{vertical-align: middle;}
.ZB_city .comment .slideup{height:36px;overflow:hidden;}
.ZB_city .comment .slidedown{height:auto;}
.ZB_city .comment .pic_wrap img{border:1px solid #ccc;margin-right:10px;}

.ZB_city .bottom_page{float: right;}

.ZB_city .card_icon{display: inline-block;padding: 2px 4px;margin-right: 10px;background:#F03;color: #fff; border-radius: 5px;font-size: 12px}
.ZB_city .gui_jnlist_item_text{color:#636363;margin-top:5px;}

/*原tab切换*/
.tab{position:static;background:#fff;width:auto;height:35px;overflow:hidden;}
.tab .turn_page{margin-top:0px;height:35px;line-height: 35px;background:#ccc;}
.tab .turn_page a{display: inline-block;height: 35px;padding: 0 10px}
.tab .turn_page a:hover{color: #666}
.tab .turn_page .turn_first{border-right: 1px solid #a3a3a3;}
.ZB_shop_list .tab{background:#000;border-bottom:1px solid #b2b2b2;}
.tab .tab_list {height:35px;overflow:hidden;font-size:0;}
.tab .tab_list a{display:inline-block;font-size:13px;margin-right:0;padding:10px 20px;border:1px solid #000;border-bottom:1px solid #b2b2b2;background:#000;color:#fff;}
.tab .tab_list a:hover{background:#666;border-bottom:1px solid #000;padding-bottom:9px}
.tab .tab_list a.cur{background:#fff;border-color:#e0e0e0;color:#333;cursor:default}
.tab .tab_list a.cur:hover{color:#333;border-bottom:none;padding-bottom:10px}
.input{display:inline-block;vertical-align:middle;width:100px;height:16px;padding:2px;border:1px solid #b2b2b2;cursor:pointer;}
.arrowdown{display:inline-block;vertical-align:middle;width:15px;height:16px;background:url("../images/common/comment_icon.png") no-repeat 0 -100px;}
.ZB_city .shop_list{border:1px solid #e0e0e0;padding:10px;box-shadow:0 0 1px rgba(0,0,0,0.1);}
.ZB_city .shop_list .comment_wrap:last-child .comment{border:none;}
