.common_tab{margin-bottom:-1px;}
.common_tab a{display: inline-block;background:#333;padding: 10px 8px;margin-right: 10px;border: 1px solid #333;border-bottom: none;color: #fff}
.common_tab a.cur{background: #fff;border: 1px solid #b2b2b2;border-bottom: none;color: #333}
.ZB_discount_manage .ZB_content{border-color: #b2b2b2;}

.ZB_discount_manage .member_wrap{border:1px solid #ccc;}
.ZB_discount_manage .member_wrap ul{margin:22px 0 18px 12px}
.ZB_discount_manage .list_title{padding: 14px 0 10px 10px}
.ZB_discount_manage .list_title .title{font-size: 18px;margin-right: 12px}
.ZB_discount_manage .list_title .W_btn_b b{display:inline-block;vertical-align:middle;font-size: 22px}
.ZB_discount_manage .member_wrap li{float: left;;width:285px;margin:0 20px 14px 0px;}
.ZB_discount_manage .member_wrap li h4{margin-bottom: 5px;}
.ZB_discount_manage .member_wrap .edit,
.ZB_discount_manage .member_wrap .edit a{color:#adadad}
.ZB_discount_manage .rating_wrap_small{margin-left: 12px}
.ZB_discount_manage .member_wrap .dot{font-size: 10px}
.ZB_discount_manage .turn_page{padding: 10px;background: #f2f2f2;text-align: right}
/*发布样式*/
/*富文本编辑器*/
.ZB_discount_manage .RE_container{border:1px solid #b2b2b2;margin-bottom: 10px;}
.ZB_discount_manage .send_message{border: 1px solid #b2b2b2;padding: 5px;}
.ZB_discount_manage .send_message .send_wrap{float: left;;width: 655px}
.ZB_discount_manage .member_guide{width: 245px;margin-left: 12px;padding-left: 12px;;height: 488px;float: left;border-left:1px dotted #a3a3a3}
.ZB_discount_manage .member_guide h3{margin-bottom: 15px;}
.ZB_discount_manage .member_guide ul{height: 410px}
.ZB_discount_manage .member_guide .title{font-size: 18px}
.ZB_discount_manage .member_guide .manage_entrance{float: right;font-size: 12px;}
.ZB_discount_manage .member_guide li{margin-bottom: 20px;}
.ZB_discount_manage .member_guide .turn_page{border:1px solid #b2b2b2;background: #fff}
/*弹层样式*/
@import "layer/cities_layer.css";