body{color:#000;}
.right_block{padding:10px;margin-bottom:10px;border:1px solid #ccc;}

.turn_page{_height:22px;}

.turn_page .turn_left{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -50px;}
.turn_page .turn_right{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -75px;}
.turn_page .turn_left,
.turn_page .turn_right{border:none;padding:0;}


.shop_wrap{width:710px;overflow:hidden;}/* border:1px solid #ccc;*/
.side_bar{width:240px;}

.ZB_discount_list .right_detail{padding-left: 190px}
.ZB_discount_list .discount_info {padding-bottom: 20px;margin-bottom: 10px;line-height: 18px;border-bottom:1px dotted #ccc;padding:10px;}
.ZB_discount_list .discount_info .shop_avatar{padding-right: 20px}
.ZB_discount_list .discount_info .title{font-size: 16px;margin-bottom: 10px}
.ZB_discount_list .discount_info .content{font-size: 14px;margin-bottom: 10px}
.ZB_discount_list .discount_info .pic_wrap{height: 87px}
.ZB_discount_list .pic_wrap a{margin-right: 10px}
.ZB_discount_list .site_info span{color: #999}
.ZB_discount_list .pic_wrap img{border: 1px solid #333}



.ZB_discount_list .order{padding:5px 10px;border:1px solid #ccc;}/*margin-bottom:10px;*/
.ZB_discount_list .order .turn_page{_height:22px;padding:5px;}
.ZB_discount_list .order .turn_page .turn_left{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -50px;}
.ZB_discount_list .order .turn_page .turn_right{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -75px;}
.ZB_discount_list .order .input{display:inline-block;vertical-align:middle;width:100px;height:16px;padding:2px;border:1px solid #b2b2b2;cursor:pointer;}
.ZB_discount_list .order .arrowdown{display:inline-block;vertical-align:middle;width:15px;height:16px;background:url("../images/common/comment_icon.png") no-repeat 0 -100px;}
.ZB_discount_list .order_list{position:relative;width:300px;z-index:10;}
.ZB_discount_list .order_list b{margin-right:5px;}
.ZB_discount_list .order_list .order_slide{position:absolute;left:61px;top:23px;width:86px;background:#fff;border:1px solid #ccc;_top:26px;z-index:10;}
.ZB_discount_list .order_list .order_slide li{overflow:hidden;zoom:1;}
.ZB_discount_list .order_list .order_slide a{display:block;zoom:1;overflow:hidden;padding:5px 0 5px 10px;background:#fff;-webkit-transition:all .3s ease}
.ZB_discount_list .order_list .order_slide a:hover{background:#cc0033;color:#fff;text-decoration:none;}

.ZB_discount_list .discount_list{border:1px solid #e0e0e0;padding:10px;box-shadow:0 0 1px rgba(0,0,0,0.1);}

.right_block .more{float: right;font-size: 12px}
.right_block .discont_list{padding-top: 10px}
.right_block .discont_list li{margin-bottom: 10px;}
.right_block .discont_list a{display: block;overflow: hidden;}
.right_block .discont_list .shop_name{display: block;margin:10px 0 5px 10px;font-size: 14px;word-wrap:break-word;}
.right_block .discont_list .nearby_length{display: block;margin-left: 10px}
.right_block .discont_list img{float: left;margin-right: 10px;height: 60px;width: 60px;border-radius: 30px;-webkit-border-radius:30px;}
.right_block .discont_list b{display: block;padding-top: 10px;font-size: 18px}

.profile_info .nameBox{margin-bottom:10px;}
.profile_info a{color:#452f06}
.profile_info .user_atten_l li strong{font-size:20px;}
.profile_info .user_atten li {float: left;margin: 0 5px 0 0;padding: 0 5px 0 0;border-right-width: 1px;border-right-style: solid;border-color:#e6e6e6}
.profile_info .user_atten li a {display: block;}
.profile_info .user_atten li strong {display: block;font-size: 20px;margin: 0 0 4px;font-weight: 400;line-height: 15px;font-family: tahoma;}
.profile_info dt{height: 82px;margin: 0 10px 20px 3px;padding: 0 0 2px 0;background:url("../images/common/left_nav_border.png") no-repeat -600px 81px;}
.profile_info .user_atten .no_border{border:none}


.bottom_page{float: right;}