body{color:#000;}
.ZB_setting .ZB_nav{margin-bottom:22px;border:none}
.ZB_setting .ZB_bread_nav{margin-bottom:8px;}
.right_block{padding:10px;margin-bottom:10px;border:1px solid #ccc;}
.right_block .title{margin-bottom:10px;font-weight:700;font-size:14px;color:#000;}
.shop_wrap{width:710px;}
.shop_wrap .store{padding:24px 10px;border:3px solid #d9d9d9;}
.side_bar{width:240px;}
.suggest_list{font-size:13px;line-height:18px;}
.other_list li{margin-bottom:15px;}
.other_list li .rating_wrap{margin:2px  0 0 5px;}
.other_list li .rating_wrap .rating_wrap_small{margin-right:5px;}






.profile_info a{color:#452f06}
.profile_info .avatar_info{height:105px;overflow:hidden;zoom:1;padding-bottom:1px;}
.profile_info .user_atten li {float: left;margin: 0 5px 0 0;padding: 0 5px 0 0;border-right-width: 1px;border-right-style: solid;border-color:#e6e6e6}
.profile_info .user_atten li a {display: block;}
.profile_info .user_atten li strong {display: block;font-size: 20px;margin: 0 0 4px;font-weight: 400;line-height: 15px;font-family: tahoma;}
.profile_info dt{height: 82px;margin: 0 10px 20px 3px;padding: 0 0 2px 0;background:url("../images/common/left_nav_border.png") no-repeat -600px 81px;}
.profile_info .user_atten .no_border{border:none}
.profile_info .btn_bed{margin-top:10px;}

.friends_list .friends_wrap{border:1px solid #b2b2b2;padding:7px 0 7px 7px;margin-bottom:10px;width:700px;margin:0 auto;font-size:14px;}
.friends_list .friend_list{padding:10px 0;}
.friends_list .friend{float:left;_display:inline;margin:0 10px 10px 0;}
.friends_list .friend .profile_info{width:200px;padding:10px;border:1px solid #ccc;}
.friends_list .friend .profile_info .nameBox{margin-bottom:5px;margin-left: 93px}
.friends_list .friend .profile_info .add_btn{width:74px;height:30px;display:inline-block;text-align:center;line-height:30px;color:#fff;background:#cc0033;_zoom:1}
.friends_list .friend .profile_info .add_btn:hover{background:#e8023b;}
.friends_list .friend .profile_info .add_btn:active{background:#a7032c}
.friends_list .friend .profile_info .atten_btn{width:74px;height:30px;display:inline-block;text-align:center;line-height:30px;color:#fff;background:#666;}
.friends_list .friend .profile_info .atten_btn:hover{background:#d1d1d1;color:#333;}
.friends_list .friend .profile_info a{color:#000;}
.friends_list .friend .profile_info .user_atten li{text-align:center;}
.friends_list .friend .profile_info .user_atten li strong{font-size:22px;}