/*二维码关注模块*/
@import "module/social_media_list.css";

body{color:#000;}

.ZB_guide .right_block{padding:10px;margin-bottom:10px;border:1px solid #e0e0e0;box-shadow: 0 0 1px rgba(0,0,0,0.1);}
.ZB_guide .right_block .title{margin:10px;font-weight:700;font-size:14px;color:#000;}
.ZB_guide .right_block .more{float: right;font-size: 12px}

.ZB_guide .left_block{margin-bottom:10px;border:1px solid #e0e0e0;box-shadow: 0 0 1px rgba(0,0,0,0.1);}
.ZB_guide .left_block .title{margin:10px;font-weight:700;font-size:14px;color:#000;}
.ZB_guide .left_block .more{float: right;font-size: 12px}

.guide_desc{font-size:14px;}
.guide_desc span{font-weight: bold;}

.guide_contnt{width:690px;padding:10px;border:1px solid #e0e0e0;box-shadow:0 0 1px rgba(0,0,0,0.1);line-height: 1.5;}
.guide_contnt .store{padding:24px 10px;border:3px solid #d9d9d9;}
.side_bar{width:240px;}
.suggest_list{font-size:13px;line-height:18px;}

.word_wrap{padding:5px 5px 10px;margin:10px 10px 0;border-bottom:1px dotted #cfcfcf;}
.word_wrap a{display:inline-block;width:15px;height:15px;line-height:15px;text-align:center;margin:0 10px 10px 0;border-radius:3px;color: #000;cursor: pointer;}
.word_wrap a.cur,
.word_wrap a:hover{background:#000;color:#fff;text-decoration:none;}


.mt30{margin-top:30px;}
.comment_title{font-size:14px;font-weight:bold;}

.guide_contnt .send_textarea{display:block;margin:10px auto;padding:10px;width:630px;height:70px;border:1px solid #b4b4b4;}
.guide_contnt .btn_wrap{margin-bottom:10px;text-align:right}
.guide_contnt .post_btn{display: inline-block;margin-right:28px;vertical-align: middle;width: 70px;height: 34px;line-height: 34px;text-align: center;background: #333;color: #fff;-webkit-transition: background .2s ease-in;}
.guide_contnt .post_btn:hover{background: #c60c30;text-decoration: none;color:#fff;}

.guide_contnt .comment_lists{margin:0 4px;padding:10px 0;border-top:1px dotted #b2b2b2;}
.guide_contnt .comment_lists .list{padding-bottom:10px;margin-bottom:10px;border-bottom:1px dotted #b2b2b2;}
.guide_contnt .comment_lists .avatar{float:left;margin:0 10px 0 27px;}
.guide_contnt .comment_lists .avatar img{vertical-align:middle;}
.guide_contnt .comment_lists .right_comment{margin-left:70px;}
.guide_contnt .comment_lists .reply_comment{display: none;float:right;height:10px;}
.guide_contnt .comment_lists .reply_comment_container{display: none;line-height: 18px;margin-top: 20px;}
.guide_contnt .comment_lists .reply_comment_container textarea{display: block;padding:10px;margin: 5px auto;width: 630px;height: 25px;border: 1px solid #b4b4b4;}
/*调整行间距*/
.guide_contnt .post_content{font-size: 14px;line-height: 24px;letter-spacing: 1px}
.guide_contnt .post_content img{display: block;margin: 0 auto 20px;max-width: 670px;}

.btn_grey{display:inline-block;cursor:pointer;text-align:center;width:160px;height:40px;line-height:40px;background-color:#f04848;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;font-size:14px;}
.btn_grey:hover {filter:alpha(opacity=90);-moz-opacity:.9;opacity:.9}

