body{color:#000;}
.ZB_help .spetex{color:#c60c30;}
.ZB_help .help_nav_wrap{overflow:hidden;border:1px solid #e0e0e0;box-shadow:0 3px 5px rgba(0,0,0,0.1);padding:0 2px;}
.ZB_help .help_nav_wrap li{width:225px;border-bottom:1px dotted #cfcfcf;overflow:hidden}
.ZB_help .help_nav_wrap li:last-child{border:none}
.ZB_help .help_nav_wrap li a{display:block;padding:8px 10px;font-size:12px;overflow:hidden}
.ZB_help .help_nav_wrap li a.cur{background:#000;color:#fff;}

.help_wrap{width:700px;padding:10px;border:1px solid #e0e0e0;box-shadow:0 3px 5px rgba(0,0,0,0.1);}
.help_info h2{padding:20px 10px;font-size:24px;font-weight:100;border-bottom:1px dotted #cfcfcf;}
.help_info h2 .title_dot{display:inline-block;width:8px;height:21px;margin-right:15px;}
.help_info .info_content{padding:20px;line-height:22px;font-size:14px;}
.help_info .info_content p{margin-bottom:15px;}