/*page1*/
	.ZB_index{height: 100%;position: relative;background: #000}
	.bg_wrap{background: url(http://zanbai.b0.upaiyun.com/2013/12/18ec322fbdb91223.jpg) no-repeat;height:760px;background-repeat: no-repeat;background-position: center 0;background-size:cover;}
	.city_bg{background-image: url(http://zanbai.b0.upaiyun.com/2013/12/18ec322fbdb91223.jpg);height:760px;background-repeat: no-repeat;background-position: center 0;background-size:cover;position:absolute;top:0;bottom:0;left:0;right:0;width: 100%;z-index: -1}
	.main{margin: 0 auto;width:1100px;color: #000}
	/*布局样式*/
	.intro{padding-top: 10%;}
	.intro .city_list{width: auto;border:none;position: relative;right: 5%;}
	.intro .single_wrap{height: 400px;overflow: hidden;position: relative;}
	.intro .single{float: right;overflow: hidden;zoom:1;width: 100%;_position: relative;}
	.intro .single ul{height: auto;_position:relative;}
	.intro .city_list li{float: right;}
	.intro .page_turn{padding-right: 30px;margin-bottom: 60px;}
	.app_download{text-align: right;margin-right: 30px;padding-bottom: 60px;}
	.app_download a{display: inline-block;width: 148px;height:59px;background: url(../images/index/app_download.png);}
	.app_download a.ios_app{background-position: 0 0}
	.app_download a.android_app{background-position: -152px 0}

	.links{float:right;margin-right:30px;}
	.links span{color:#999;}
	.links li{float: left;_display: inline;_position: relative;margin:0 10px 10px 0;}
	.links li a{color:#999;}
	.links li a:hover{color:#e800ff;}

	.fs51{font-size: 51px}
	.fs30{font-size: 30px}
	.fs24{font-size: 24px}
	.fs18{font-size: 18px}
	.fs12{font-size: 12px}
	.content{padding-top: 10%;}
	.content .state{float: left;width: 250px;height: 309px;margin-top: 55px}
	.content .state_bg{position: relative;background: url(../images/index/index_city.png) 0 -150px;_background-image: url(../images/index/index_city.gif);width: 191px;height: 191px;text-align: center;}
	.content .state_name{font-size: 51px;position: absolute;top:50%;left:0;margin-top: -42px;width: 191px}
	.content .city_list{position: relative;width:780px;overflow: hidden;float: left;padding:0 0 0 50px;border-left: 3px solid #fff;}
	.content .city_list .city_wrap{width: 2490px;position: relative;}
	.content .city_list .single{float: left;width: 830px;overflow: hidden;}
	.content .city_list .single ul{height: 400px}
	/*城市列表公用样式*/
	.city_list .top_slogan{color: #fff;margin-left:10%;font-size: 20px;margin:0 20px 35px 0;text-align: right;letter-spacing: 3px}
	.city_list .brand{display: inline-block;vertical-align: middle;line-height: 30px;}
	.city_list li{float: left;_display: inline;_position: relative;margin:0 20px 20px 0;background: url(../images/index/index_city.png);_background-image: url(../images/index/index_city.gif);width:113px;height:113px;border-radius: 56px;overflow: hidden;_zoom:1;}
	.city_list li.hot{background: url(../images/index/index_city.png) -132px 0;_background-image: url(../images/index/index_city.gif);}
	.city_list li.hot a{color: #fff}
	.city_list li a{position: relative;top:0;left:0;display:block;vertical-align: middle;width:113px;height:113px;text-align: center;overflow: hidden;-webkit-transition:color .5s ease .15s;color: #000;zoom:1;}
	.city_list li a .city_name{position: relative;display: block;z-index: 100;margin-top:31px;}
	.city_list li a .city_name .fs12{margin-top: 5px;}
	.city_list li a .bg{position: absolute;top:113px;left: 0;width:100%;height:100%;-webkit-transition:top .1s ease-out .15s;background: url(../images/index/index_city.png) -261px 0;_background-image: url(../images/index/index_city.gif);}
	.city_list li a:hover {color:#fff;-webkit-transition:all .2s ease-out .15s;text-shadow:0 0 5px #fff;_color:#000;}	
	.city_list li a:hover .bg{top:0;}
	.city_list li a span em{display: block;height: 34px}

	.page_turn {margin-top: 15px;text-align: right;padding-right: 60px;}
	.page_turn a{color: #fff;font-size: 18px;}
	.page_turn .page_down .page_icon{display: inline-block;vertical-align: middle;margin-left: 5px;width: 18px;height: 18px;background: url(../images/index/index_city.png) -200px -150px;_background-image: url(../images/index/index_city.gif);}
	.page_turn .page_down:hover .page_icon{background-position: -230px -150px}
	.page_turn .page_up .page_icon{display: inline-block;vertical-align: -2px;margin-left: 5px;width: 18px;height: 18px;background: url(../images/index/index_city.png) -200px -180px;_background-image: url(../images/index/index_city.gif);}
	.page_turn .page_up:hover .page_icon{background-position: -230px -180px}
	.state_tab {margin: 68px 0 60px 300px;padding: 12px 40px;width: 635px;height: 23px;line-height: 23px;font-size: 20px;color: rgba(255,255,255,.3);background: url(../images/index/state_tab.png) no-repeat;_background-image: url(../images/index/state_tab.gif) no-repeat;}
	.state_tab a{color: #999;color: rgba(255,255,255,.5);-webkit-transition:all .5s ease;}
	.state_tab a:hover{color: #ccc;color: rgba(255,255,255,.7);}
	.state_tab a.cur{color: #fff;font-weight: 700;}
	.state_tab .v_line{margin:0 30px;color: #fff;color: rgba(255,255,255,.3)}
	.bottom_tip{text-align: right;color: #fff;font-size: 20px;padding-bottom: 25px;margin-right: 30px}