/*关注样式*/
@import "module/social_media_list.css";

body{color:#000;}
/*.ZB_shop_detail .ZB_nav{margin-bottom:22px;border:none}*/
.ZB_shop_detail .ZB_bread_nav{margin-bottom:8px;}
.right_block{padding:10px;margin-bottom:10px;border:1px solid #ccc;}
.right_block .title{margin-bottom:10px;font-weight:700;font-size:14px;color:#000;}
.shop_wrap{width:710px;}
.shop_wrap .store{padding:24px 10px;border:3px solid #d9d9d9;}
.side_bar{width:240px;}
.suggest_list{font-size:13px;line-height:18px;}
.other_list li{margin-bottom:15px;}
.other_list li .rating_wrap{margin:2px  0 0 5px;}
.other_list li .rating_wrap .rating_wrap_small{margin-right:5px;}

.store,
.discount{margin-bottom:20px;}
.store .store_info{margin:0 0 40px 20px;}
.store .store_info .title{margin-bottom:4px;position:relative;z-index:5;}
.store .store_info .store_title{font-size:18px;}
.store .store_info .slidedown_store{position:absolute;left:220px;z-index:5;padding:20px 20px 0;width:500px;border:1px solid #666;background:#fff;_top:25px;}
.store .store_info .slidedown_store li{width:230px;float:left;height:90px;margin-right:10px;}
.store .store_info .slidedown_store .store_list_name{font-weight:700;}
.store .store_info .slidedown_store .rating_wrap{margin:8px 0;}
.store .store_info .zb_thumb{width: 275px;overflow: hidden;}
.store .store_info .zb_thumb li{float: left;margin-right: 13px}
.store .store_info .zb_thumb li img{border:1px solid #ccc;}
.store .store_pic .zb_image_wrap{display:inline-block;width:270px;margin-bottom: 10px;overflow:hidden;text-align:center;border:1px solid #666;}
.store .store_intro {margin-left:290px;line-height:22px;}
.store .store_intro .title{position:static}
.store .store_intro .content{width: 356px;font-size:14px;overflow:hidden;line-height:22px;margin-right: 10px;text-align: justify;word-wrap: break-word;word-break: break-all;}
.store .store_intro .seemore{text-align:right;margin-right:10px;display:none;}
.store .store_intro .btn_wrap{text-align: right;margin-top: 5px;}
.store .store_intro .rating_wrap_big{margin-right:5px;}
.store .post_wrap .post_btn{display:inline-block;margin-right:10px;vertical-align:middle;width:70px;height:34px;line-height:34px;text-align:center;background:#333;color:#fff;-webkit-transition:background .2s ease-in}
.store .post_wrap .post_btn:hover{background:#c60c30;text-decoration:none;}

.store .post{border-top:1px dotted #cfcfcf;margin:20px 0 0 20px;padding-top:20px;}
.store .post .rating_wrap_big{margin-right: 5px}
.store .post .rating_wrap{padding: 9px 0}
.store .post p{padding-top:3px;font-size:14px;line-height: 22px;overflow: hidden;}
.store .post .num{font-size:18px;color:#c60c30;}


.store .comment_summary{padding:10px;}
.store .comment_condition{margin-right:42px;width:410px;}
.store .comment_condition .icon{display:inline-block;vertical-align:middle;margin-right:5px;width:18px;height:18px;background-image:url("../images/common/comment_icon.png");background-repeat:no-repeat;}
.store .like_icon{background-position:0 0;}
.store .hate_icon{background-position:0 -25px;}
.store .comment_grade .grade {margin-bottom:14px;}
.store .comment_grade .grade .progress{display:inline-block;vertical-align:middle;font-size:0px;margin:0 2px 0 8px;width:90px;height:10px;border:1px solid #333;}
.store .comment_grade .grade .progress em{display:inline-block;height:10px;background:#333;}
.store .condition_list{margin-left:75px;}
.store .condition_list a{margin:0 5px 10px;display:inline-block;}

.order{padding:5px 10px;margin-bottom:10px;border:1px solid #ccc;width:688px;}
.order .turn_page{_height:22px;}
.order .turn_page .turn_left{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -50px;}
.order .turn_page .turn_right{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -75px;}
.order .input{display:inline-block;vertical-align:middle;width:100px;height:16px;padding:2px;border:1px solid #b2b2b2;cursor:pointer;}
.order .arrowdown{display:inline-block;vertical-align:middle;width:15px;height:16px;background:url("../images/common/comment_icon.png") no-repeat 0 -100px;}
.order .order_list{position:relative;width:300px;z-index:10;}
.order .order_list b{margin-right:5px;}
.order .order_slide{position:absolute;left:61px;top:23px;width:86px;background:#fff;border:1px solid #ccc;_top:26px;z-index:10;}
.order .order_slide li{overflow:hidden;zoom:1;}
.order .order_slide a{display:block;zoom:1;overflow:hidden;padding:5px 0 5px 10px;background:#fff;-webkit-transition:all .3s ease}
.order .order_slide a:hover{background:#cc0033;color:#fff;text-decoration:none;}

/*折扣信息*/
.discount{padding: 35px 12px 20px;border: 1px solid #ccc;position: relative;}
.discount .tag{position: absolute;right:-1px;top:-1px;padding: 8px 20px;background: #c60c30;color: #fff}
.discount .title{font-size: 18px;line-height: 18px;margin-bottom: 5px}
.discount .content{line-height: 22px;font-size: 14px;color: #333;margin-bottom: 10px}
.discount .more_detail{text-align: right}

.comment_wrap .comment{margin-bottom:10px;padding:10px 10px 50px;border:1px solid #ccc;line-height:18px;position:relative;}
.comment_wrap .comment .avatar{width:77px;overflow:hidden;word-wrap:break-word;}
.comment_wrap .comment .avatar_pic{margin-bottom:5px;}
.comment_wrap .comment_info .title{margin-bottom:10px;font-size:18px;}
.comment_wrap .comment_info{margin-left:90px;}
.comment_wrap .comment_info .rating_wrap{margin-bottom: 10px}
.comment_wrap .comment_info .rating_wrap_small{margin:0 5px;}
.comment_wrap .comment .slideup{height:36px;overflow:hidden;}
.comment_wrap .comment .slidedown{height:auto;}
/*图片展示公用样式 折扣信息+点评信息*/
.pic_wrap a{display:inline-block;vertical-align: middle;margin: 0 5px 5px 0;width:120px;height: 120px;overflow:hidden;text-align:center;border:1px solid #ccc;}
.comment_wrap .comment_title{position:absolute;bottom:0;left:0;width:668px;padding:8px 20px;text-align:right;background:#f2f2f2}
.comment_wrap .textarea_wrap{margin-bottom:10px;border:1px solid #ccc;padding:10px;line-height:18px;}
.comment_wrap .send_textarea{margin-bottom:10px;border:1px solid #bcbcbc;width:668px;height:60px;padding:10px;}
.comment_wrap .quote_info{color:#000;font-weight:700;margin-bottom:10px;}
.comment_wrap .post_btn{display: inline-block;vertical-align: middle;width: 70px;height: 34px;line-height: 34px;text-align: center;background: #333;color: #fff;-webkit-transition: background .2s ease-in;}
.comment_wrap .post_btn:hover {background: #c60c30;text-decoration: none;}
.ZB_shop_detail .info_blank{border: 1px solid #ccc}

.map_block{margin: 20px}