body{color:#000;}
.ZB_setting .ZB_nav{margin-bottom:22px;border:none}
.ZB_setting .ZB_bread_nav{margin-bottom:8px;}
.right_block{padding:10px;margin-bottom:10px;border:1px solid #ccc;}
.right_block .title{margin-bottom:10px;font-weight:700;font-size:14px;color:#000;}
.shop_wrap{width:710px;}
.shop_wrap .store{padding:24px 10px;border:3px solid #d9d9d9;}
.side_bar{width:240px;}
.suggest_list{font-size:13px;line-height:18px;}
.other_list li{margin-bottom:15px;}
.other_list li .rating_wrap{margin:2px  0 0 5px;}
.other_list li .rating_wrap .rating_wrap_small{margin-right:5px;}

.tab{position:relative;margin-bottom:-1px;_bottom:-3px;}
.tab a{display:inline-block;margin-right:10px;padding:10px;border:1px solid #333;border-bottom:none;background:#333;color:#fff;}
.tab a.cur{background:#fff;border-color:#b2b2b2;color:#333;cursor:default}
.tab a:hover{color:#fff;}
.tab a.cur:hover{color:#333;}

.setting{border:1px solid #b2b2b2;padding:7px;margin-bottom:10px;width:690px;}

.setting .setting_wrap{margin:0 auto;padding:50px 20px 50px 50px;font-size:14px;}
.setting .info_list{margin-bottom:10px;}
.setting .tips{margin:10px 0 10px 100px;}
.setting .tips a{color:#cf0f0f;}
.setting .inp{margin-left:100px;line-height:30px;}
.setting .tit{width:100px;margin-right:10px;line-height:30px;color:#000;font-family:"Microsoft Yahei";text-align:right}
.setting .tit i{color:#fb0101}
.setting .inp .W_input{border:1px solid #666;padding:6px 7px;width:210px;margin-right:10px;font-size:14px;color:#666;vertical-align:middle;}
.setting .inp .W_input_activation{width:60px;}
.setting .inp .message{display:inline-block;color:#fff;background:#333;padding:8px 22px;height:14px;margin-right:10px;font-size:12px;vertical-align:middle;}
.setting .inp .notice{color:#666;margin-right:10px;}
.setting .inp .sex{margin:0 5px;display:inline-block;}
.setting .setting_btn{margin-left:100px;font-size:24px;display:inline-block;padding:14px 65px;background:#239808;color:#fff;}
.setting .setting_btn:hover{color:#fff;}

.setting .btn_wrap{margin:30px 0 0 280px;}
.setting .post_btn {display: inline-block;margin-right: 28px;vertical-align: middle;width: 70px;height: 34px;line-height: 34px;text-align: center;background: #333;color: #fff;-webkit-transition: background .2s ease-in;}
.setting .post_btn:hover{color:#fff;}

.profile_info a{color:#452f06}
.profile_info .user_atten_l li strong{font-size:20px;}
.profile_info .user_atten li {float: left;margin: 0 5px 0 0;padding: 0 5px 0 0;border-right-width: 1px;border-right-style: solid;border-color:#e6e6e6}
.profile_info .user_atten li a {display: block;}
.profile_info .user_atten li strong {display: block;font-size: 20px;margin: 0 0 4px;font-weight: 400;line-height: 15px;font-family: tahoma;}
.profile_info dt{height: 82px;margin: 0 10px 20px 3px;padding: 0 0 2px 0;background:url("../images/common/left_nav_border.png") no-repeat -600px 81px;}
.profile_info .user_atten .no_border{border:none}
.profile_info .btn_bed{margin-top:10px;}
.info_wrap{margin-bottom:10px;}
/*ÉÏ´«°´Å¥*/
.upload_img{font-size:12px;}
.file_btn{position:absolute;width: 70px;height: 34px;opacity:0;filter:alpha(opacity=0);}
.pic_default{width:303px;height:303px;padding-right:25px;border-right:1px dotted #c5c5c5;background:url("../images/common/pic_upload.png") no-repeat;}
.clip_wrap{width:260px;margin:0 0 0 25px;line-height:20px;}
.clip_wrap p{margin-bottom:20px;}
.select_btn{margin:10px 0;}
.pic_condition{margin-bottom:10px;}
.avatar_wrap{margin-bottom:20px;}
.avatar_B{display:inline-block;width:120px;height:120px;background:url("../images/common/clip_img.png") no-repeat 10px;}
.avatar_M{display:inline-block;width:50px;height:50px;background:url("../images/common/clip_img.png") no-repeat -115px bottom;}
.avatar_S{margin-left:20px;display:inline-block;width:30px;height:30px;background:url("../images/common/clip_img.png") no-repeat -178px bottom;}