/*关注样式*/
@import "module/social_media_list.css";
@import "module/discount_wrapV2.css";

body{color:#000;}
/*.ZB_shop_detail .ZB_nav{margin-bottom:22px;border:none}*/
.ZB_shop_detail .ZB_bread_nav{margin-bottom:8px;}
.right_block{padding:10px;margin-bottom:10px;border:1px solid #ccc;}
.ZB_shop_detail .np{padding: 0;}
.right_block .title{margin-bottom:10px;font-weight:700;font-size:14px;color:#000;}
.shop_wrap{width:710px;}
.shop_wrap .store{padding:19px 16px 19px 28px;border:3px solid #d9d9d9;}
.side_bar{width:240px;}
.suggest_list{font-size:13px;line-height:18px;}

.other_list li{margin-bottom:15px;}
.other_list li .rating_wrap{margin:2px  0 0 5px;}
.other_list li .rating_wrap .rating_wrap_small{margin-right:5px;}

/*头部点评打分*/
.ZB_shop_detail .header_rating{overflow: hidden;}
/*官网地址*/
.ZB_shop_detail .official_website{padding: 5px;font-size: 12px;background: #000;color: #fff;border-radius: 5px;}
.ZB_shop_detail .official_website:hover{color: #fff}
.ZB_shop_detail .tag_wrap {margin-bottom: 13px;}
.ZB_shop_detail .shop_info .margin_top {margin-top: 7px;}
.ZB_shop_detail .shop_info .toggle-text {color: #666;}
.ZB_shop_detail .shop_info .toggle-text:hover{color: #e800ff;}
.ZB_shop_detail .shop_info .arrow_down,
.ZB_shop_detail .shop_info .arrow_up,
.ZB_shop_detail .shop_info .arrow_right,
.ZB_shop_detail .shop_info .arrow_left{margin-left:5px;display: inline-block;width: 7px;height:7px;background: url("../images/common/arrow.png");}
.ZB_shop_detail .shop_info .arrow_up{background-position: 0 -10px}
.ZB_shop_detail .shop_info .arrow_right{background-position: 0 -20px}
.ZB_shop_detail .shop_info .arrow_left{background-position: 0 -30px}
.ZB_shop_detail .shop_info .desc_list {padding-left: 70px;}
.ZB_shop_detail .shop_info .desc_list .tit{float: left;margin-left: -70px;color: #999;width:65px;}
.ZB_shop_detail .tag_wrap .tag_icon{margin:0 12px 10px 0;display: inline-block;line-height: 12px;background: #e0dddd;border: 1px solid #ccc;padding: 4px 7px;}
.left_border{display: block;overflow: hidden;}
/*其他信息*/
.ZB_shop_detail .traffic_info{margin-bottom: 10px;line-height: 18px;font-size: 14px}
.ZB_shop_detail .other_info{position: relative;padding-bottom: 27px;}
/*服务标志 */
.ZB_shop_detail .service_warp{margin:0 15px;font-size: 0;}
.ZB_shop_detail .icon_services,
.ZB_shop_detail .icon_share{display: inline-block;margin-right: 10px;width: 27px;height: 24px;background:url("../images/common/service_icon.png") no-repeat 0 -100px;}
.ZB_shop_detail .icon_dollar{background-position: 0 0}
.ZB_shop_detail .icon_wifi{background-position: -37px 0}
.ZB_shop_detail .icon_power{background-position: -74px 0}
.ZB_shop_detail .icon_exchange{background-position: -111px 0}
.ZB_shop_detail .icon_disabled{background-position: -148px 0}
.ZB_shop_detail .icon_help{background-position: -185px 0}
.ZB_shop_detail .icon_weibo{background-position:-222px 0}
.ZB_shop_detail .icon_Qzone{background-position:-259px 0}
.ZB_shop_detail .icon_renren{width: 33px;background-position: -296px 0}
/*品牌墙*/
.ZB_shop_detail .brand_list li{float:left;}
.ZB_shop_detail .brand_list img{margin-right: 10px;*margin-right: 8px;border:1px solid #000;}
.ZB_shop_detail .brand_title{margin-bottom: 13px;font-size: 16px}
.ZB_shop_detail .brand_list{font-size: 0}
.ZB_shop_detail .more_brand{text-align: right;}
/*打折信息*/
.ZB_shop_detail .discount_wrap {height: 5px;border-top: 1px dotted #cfcfcf;margin: 5px 0 0 0;padding: 20px 0 0 7px;}
.ZB_shop_detail .discount_wrap p{float: left;width:315px;margin-bottom: 12px;color: #333;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ZB_shop_detail .card_icon{display: inline-block;padding: 3px 6px;margin-right: 10px;background:#000;color: #fff; border-radius: 5px;}

.ZB_shop_detail .discount_wrapV2 {border-top: 1px dotted #cfcfcf;margin: 5px 0 0 0;padding: 15px 0 0 0;}

.ZB_shop_detail .discount_list{margin-bottom:15px;}
.ZB_shop_detail .discount_label{margin-bottom: 1px;padding: 8px;border: 1px solid #e0e0e0;background: #ededed}
.ZB_shop_detail .discount_label .coupon_feed{width: 470px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
.ZB_shop_detail .discount_label .num_count{margin-right: 30px;}
.ZB_shop_detail .discount_label .download_num{display: inline-block;width: 70px;line-height: 22px;}
.ZB_shop_detail .discount_label .icon_discount,
.ZB_shop_detail .discount_label .icon_coupon{display: inline-block;padding: 2px;margin-right: 25px;;background: #f50100;color: #fff;border: 1px solid #be0605;border-radius: 1px}
.ZB_shop_detail .discount_label .icon_discount{background: #000;border: 1px solid #b2b2b2;}

.ZB_shop_detail .discount_label .favor_btn{display: inline-block;margin-right:10px;vertical-align:middle;width:70px;height:26px;line-height:26px;text-align:center;background:#333;color:#fff;-webkit-transition:background .2s ease-in}
.ZB_shop_detail .discount_label .favor_btn:hover{background: #c60c30;}


.ZB_shop_detail .discount_label .v_line{display: inline-block;vertical-align: middle;margin: 0 15px;height: 16px;width: 2px;background: #999;}
.ZB_shop_detail .more_discount{margin-bottom: 50px;padding: 5px;}
/*打折信息模块补丁*/
.discount_single {padding-right: 20px;border-bottom:none;}
/*固定icon*/
.ZB_shop_detail .icon_fixed{position: fixed;top: 500px;}
.ZB_shop_detail .icon_fixed p{margin-bottom: 10px;}
/*商店*/
.store,
.discount{margin-bottom:20px;}
.store .store_info{margin:0 0 26px 0;}
.store .store_info .title{position:relative;z-index:5;}
.store .store_info .store_title{display: inline-block;margin-right: 5px;vertical-align: middle;font-size:18px;}
.store .store_info .slidedown_store{position:absolute;left:220px;z-index:5;padding:20px 20px 0;width:500px;border:1px solid #666;background:#fff;_top:25px;}
.store .store_info .slidedown_store li{width:230px;float:left;height:90px;margin-right:10px;}
.store .store_info .slidedown_store .store_list_name{font-weight:700;}
.store .store_info .slidedown_store .rating_wrap{margin:8px 0;}
.store .store_info .zb_thumb{width: 275px;overflow: hidden;}
.store .store_info .zb_thumb li{float: left;margin-right: 13px}
.store .store_info .zb_thumb li img{border:1px solid #ccc;}
.store .store_pic .zb_image_wrap{display:inline-block;width:268px;height: 268px;margin-bottom: 10px;overflow:hidden;text-align:center;border:1px solid #666;}
.store .store_pic{position: relative;margin-top: 11px;height: 270px}
/*测试完合并到common*/
.rating_wrap_big{height: 11px}
.store .store_pic .upload_img,
.store .store_pic .more_img{position:absolute;bottom: 10px;background: #fff;color: #000;padding: 7px 10px}
.store .store_pic .upload_img:hover,
.store .store_pic .more_img:hover{padding: 6px 9px;border: 1px solid #cc0033;}
.store .store_pic .upload_img:active,
.store .store_pic .more_img:active{padding: 6px 9px;border: 1px solid #cc0033;color: #fff;background: #cc0033;-webkit-transition:background .2s ease;}
.store .store_pic .upload_img{left: 10px}
.store .store_pic .more_img{right: 10px;}
.store .store_intro {margin-left:290px;line-height:22px;}
.store .store_intro .title{position:static}
.store .store_intro .content{width: 356px;font-size:14px;overflow:hidden;line-height:18px;margin:3px 10px 0 0;text-align: justify;word-wrap: break-word;word-break: break-all;}
.store .store_intro .seemore{text-align:right;margin-right:10px;}

.store .store_intro .btn_wrap{text-align: right;margin-top: 5px;}
.store .store_intro .rating_wrap_big{margin-right:5px;}
.store .post_wrap{text-align: right;}
.store .post_wrap .favor_btn{display: inline-block;margin-right:10px;vertical-align:middle;width:70px;height:26px;line-height:26px;text-align:center;background:#333;color:#fff;-webkit-transition:background .2s ease-in}
.store .post_wrap .favor_btn:hover{background: #c60c30;}


.store .post_wrap .disable_btn{display: inline-block;margin-right:10px;vertical-align:middle;width:70px;height:26px;line-height:26px;text-align:center;background:#333;color:#fff;-webkit-transition:background .2s ease-in}
.store .post_wrap .disable_btn:hover{color: #fff;background: #c60c30;}

.store .post_wrap .post_btn{display:inline-block;margin-right:10px;vertical-align:middle;width:70px;height:26px;line-height:26px;text-align:center;background:#333;color:#fff;-webkit-transition:background .2s ease-in}
.store .post_wrap .post_btn:hover{background:#c60c30;text-decoration:none;}

.store .post{margin:0px 0 0 0;padding-top:15px;border-top:1px dotted #cfcfcf;}
.store .post .rating_wrap_big{margin-right: 5px}
.store .post .rating_wrap{padding: 9px 0}
.store .post p{position:relative;margin-right: 8px;font-size:14px;line-height: 22px;overflow: hidden;}
.store .post .num{font-size:18px;color:#c60c30;}
.store .post .site_icon{display: inline-block;vertical-align: middle;width: 31px;height:13px;background: url("../images/common/comment_icon.png") -50px 0;}
.store .print_icon{position: absolute;right: 0;vertical-align: middle;width: 24px;height:24px;background: url("../images/common/comment_icon.png") -25px -50px;}
.store .print_icon:hover{background-position: -25px -75px}
.store .print_icon:active{background-position: -25px -100px}

.store .comment_summary{padding:10px;}
.store .comment_condition{margin-right:42px;width:410px;}
.store .comment_condition .icon{display:inline-block;vertical-align:middle;margin-right:5px;width:18px;height:18px;background-image:url("../images/common/comment_icon.png");background-repeat:no-repeat;}
.store .like_icon{background-position:0 0;}
.store .hate_icon{background-position:0 -25px;}
.store .comment_grade .grade {margin-bottom:14px;}
.store .comment_grade .grade .progress{display:inline-block;vertical-align:middle;font-size:0px;margin:0 2px 0 8px;width:90px;height:10px;border:1px solid #333;}
.store .comment_grade .grade .progress em{display:inline-block;height:10px;background:#333;}
.store .condition_list{margin-left:75px;}
.store .condition_list a{margin:0 5px 10px;display:inline-block;}

.order{padding:5px 10px;margin-bottom:10px;border:1px solid #ccc;width:688px;}
.order .turn_page{_height:22px;}
.order .turn_page .turn_left{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -50px;}
.order .turn_page .turn_right{margin:0 7px;display:inline-block;vertical-align:middle;width:17px;height:20px;background:url("../images/common/comment_icon.png") no-repeat 0 -75px;}
.order .input{display:inline-block;vertical-align:middle;width:100px;height:16px;padding:2px;border:1px solid #b2b2b2;cursor:pointer;}
.order .arrowdown{display:inline-block;vertical-align:middle;width:15px;height:16px;background:url("../images/common/comment_icon.png") no-repeat 0 -100px;}
.order .order_list{position:relative;width:300px;z-index:10;}
.order .order_list b{margin-right:5px;}
.order .order_slide{position:absolute;left:61px;top:23px;width:86px;background:#fff;border:1px solid #ccc;_top:26px;z-index:10;}
.order .order_slide li{overflow:hidden;zoom:1;}
.order .order_slide a{display:block;zoom:1;overflow:hidden;padding:5px 0 5px 10px;background:#fff;-webkit-transition:all .3s ease}
.order .order_slide a:hover{background:#cc0033;color:#fff;text-decoration:none;}

/*折扣信息*/
.discount{padding: 35px 12px 20px;border: 1px solid #ccc;position: relative;}
.discount .tag{position: absolute;right:-1px;top:-1px;padding: 8px 20px;background: #c60c30;color: #fff}
.discount .coupon{background: #fd6204}
.discount .title{font-size: 18px;line-height: 18px;margin-bottom: 5px}
.discount .content{line-height: 22px;font-size: 14px;color: #333;margin-bottom: 10px}
.discount .more_detail{text-align: right}

.coupon_tip{padding: 5px;border:1px solid #b2b2b2;margin-bottom: 20px;font-size:14px;}
.coupon_tip .coupon_tag{display: inline-block;vertical-align: middle;margin-right: 10px;width: 59px;height: 20px;line-height: 20px;background: url(../images/coupon.png);}
.coupon_tip .shop_name{color: #c60c30}
.coupon_tip .content{margin-bottom: 5px}

.comment_wrap .comment{margin-bottom:10px;padding:10px 10px 50px;border:1px solid #ccc;line-height:18px;position:relative;}
.comment_wrap .comment .avatar{width:77px;overflow:hidden;word-wrap:break-word;}
.comment_wrap .comment .avatar_pic{margin-bottom:5px;}
.comment_wrap .comment_info .title{margin-bottom:10px;font-size:18px;}
.comment_wrap .comment_info{margin-left:90px;}
.comment_wrap .comment_info .rating_wrap{margin-bottom: 10px}
.comment_wrap .comment_info .rating_wrap_small{margin:0 5px;}
.comment_wrap .comment .slideup{height:36px;overflow:hidden;}
.comment_wrap .comment .slidedown{height:auto;}
/*图片展示公用样式 折扣信息+点评信息*/
.pic_wrap a{display:inline-block;vertical-align: middle;margin: 0 5px 5px 0;width:120px;height: 120px;overflow:hidden;text-align:center;border:1px solid #ccc;}
.comment_wrap .comment_title{position:absolute;bottom:0;left:0;width:668px;padding:8px 20px;text-align:right;background:#f2f2f2}
.comment_wrap .textarea_wrap{margin-bottom:10px;border:1px solid #ccc;padding:10px;line-height:18px;}
.comment_wrap .send_textarea{margin-bottom:10px;border:1px solid #bcbcbc;width:668px;height:60px;padding:10px;}
.comment_wrap .quote_info{color:#000;font-weight:700;margin-bottom:10px;}
.comment_wrap .post_btn{display: inline-block;vertical-align: middle;width: 70px;height: 34px;line-height: 34px;text-align: center;background: #333;color: #fff;-webkit-transition: background .2s ease-in;}
.comment_wrap .post_btn:hover {background: #c60c30;text-decoration: none;}
.ZB_shop_detail .info_blank{border: 1px solid #ccc}
/*地图模块*/
.map_canvas img{width:100%;}
.map_control{padding:24px 14px 8px 10px;font-weight: 700;font-size: 14px}
/*右侧列表打折模块*/
.right_block .more{float: right;font-size: 12px}
.right_block .discont_list{padding-top: 10px}
.right_block .discont_list li{margin-bottom: 10px;}
.right_block .discont_list a{display: block;overflow: hidden;}
.right_block .discont_list .shop_name{display: block;margin:10px 0 5px 20px;font-size: 14px;word-wrap:break-word;}
.right_block .discont_list .nearby_length{display: block;margin-left: 20px}
.right_block .discont_list img{float: left;margin-right: 10px;height: 60px;width: 60px;border-radius: 30px;-webkit-border-radius:30px;}
.right_block .discont_list b{display: block;padding-top: 10px;font-size: 18px}

/* 富文本编辑弹层特殊处理 wanglei*/
.W_layer .detail {padding:50px;padding-top:10px;}
.shop-name{padding-left: 50px;padding-top: 10px;font-weight: bold;}
/*交通方式页补丁*/
.trans_wrap{width: 690px;padding: 20px 10px;border: 1px solid #ccc;}
.trans_wrap h2.title{margin-bottom: 20px;font-size: 24px;font-weight: 100;}
.trans_wrap .trans_mode{padding: 20px 10px;border-top:1px dashed #ccc;}
.trans_wrap .mode_title{font-size:18px;margin-bottom: 25px;}
.trans_wrap .trans_icon{margin-right: 10px;width: 43px;height: 41px;border: 1px solid #ccc;background: url(../images/common/icon_trans.png);}
.trans_wrap .icon_bus{background-position: 0 0}
.trans_wrap .icon_train{background-position: 0 -50px}
.trans_wrap .icon_subway{background-position: 0 -100px}
.trans_wrap .icon_tramcar{background-position: 0 -150px}
.trans_wrap .icon_ferry{background-position: 0 -200px}
.trans_wrap .trans_info{width: 600px}
.trans_wrap .station{font-size: 14px;line-height: 22px;}
.trans_wrap .location_detail{color: #666;margin-bottom: 25px;}

.bottom_page{float: right;}


.favor_btn{margin-bottom: 9px;display: inline-block;text-align: center;width:150px;line-height: 29px;background:#333;color: #fff;}
.favor_btn:hover{color:#fff;background:#c60c30;-webkit-transition:background .2s ease-in;}
