*.pyc
*.pyo
*.log
*.js.bak
*.css.bak
*.pid
.*.swp
*~
pre-commit
spike.py
/settings_local.py
/settings_debug.py
appannie.key

*.v-*.*
sftp-config.json

/django
/django-trunk
/sql
/hourly_ranks
/sales_reports
/iad_reports
/advana_reports

/media/sitemaps/

.DS_Store
.idea/
appannie.key
config_local.py
.scrapy/
.coverage

/android_scrape_settings_local.py

/admin-media
/checkout_xmls
/checkout_csvs
/dev_console
/html_cache
/icons_cache
/pop
/android-ranks

/scripts/scraping/src/com/appannie/scraping/*.class
/scripts/scraping/src/com/appannie/scraping/extraparsers/*.class
/scripts/scraping/src/.classpath
/scripts/scraping/src/.project

.ropeproject
/supervisord-local.conf
/media/javascript/*/dist

.project
.pydevproject
.settings/

/jsfiles.txt

devops/vagrant/.vagrant/
devops/vagrant/Vagrantfile

cmt_data_input.csv

advana_scraper_reports/
requirements.txt.lock
.coverage
cover/

fe/node_modules/

qiniu.php

