.shop_layer .shop_title{padding: 10px;border-bottom: 1px dotted #cfcfcf;font-size: 18px;color: #000}
.shop_layer .content{padding:0 12px 10px;width: 520px}
.shop_layer .shop_content{margin: 10px;line-height: 20px;font-size: 14px;color: #999;font-family: "Microsoft Yahei";}
.shop_layer .shop_pic{float: left;margin-right: 20px}

