.discount_single{width: 310px;margin-bottom: 10px;padding-right: 13px;border-bottom: 1px dotted #ccc;}
.discount_single .img_wrap{margin-right: 17px;}
.discount_single .info_wrap{width: 162px;}
.discount_single .title{font-size: 18px;line-height: 26px;height:47px;overflow: hidden;}
.discount_single .during_time{color: #e04023;margin: 10px 0 5px;font-size: 14px}

.discount_btn{margin-bottom: 9px;display: inline-block;text-align: center;width:150px;line-height: 29px;background:#333;color: #fff;}
.discount_btn:hover{color:#fff;background:#c60c30;-webkit-transition:background .2s ease-in;}

.disable_btn{margin-bottom: 9px;display: inline-block;text-align: center;width:150px;line-height: 29px;color: #fff;background: #333 }
.disable_btn:hover{color: #fff;background:#c60c30;};




