.contact_area{padding: 10px}
.contact_area .social_media_icon{display: inline-block;vertical-align:middle;width: 30px;height: 30px;background: #ffc}
.contact_area .social_media_list .social_media_item{margin-bottom: 10px;}
.contact_area .app_area{margin-top: 10px;}
.contact_area .app_logo{margin: 0 auto;width: 160px;margin-bottom: 10px;}
.contact_area .app_link_text{text-align: center;}
.contact_area .app_name{margin-bottom: 10px;}